{% load i18n %}
<!-- SubMenu / Search -->
<header class="bg-custom-primary shadow header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12 my-2">
        <nav class="navbar navbar-expand navbar-dark sticky-top">
        <ul class="navbar-nav">
          <li
            {% if 'dashboard' in request.path %}
              class="nav-item pr-2 active"
            {% else %}
              class="nav-item pr-2"
            {% endif %}
          >
            <a href="{% url 'dashboard' %}" class="nav-link">{% trans "Dashboard" %}</a>
          </li>
          <li
            {% if 'ads' in request.path or 'newlisting' in request.path or 'editlisting' in request.path or 'archived' in request.path or 'fostered' in request.path or 'requested' in request.path %}
              class="nav-item px-2 active"
            {% else %}
              class="nav-item px-2"
            {% endif %}
          >
            <a href="{% url 'posts' %}" class="nav-link">{% trans "Listings" %}</a>
          </li>
          <li
            {% if 'contacts' in request.path or 'newcontact' in request.path or 'editcontact' in request.path %}
              class="nav-item px-2 active"
            {% else %}
              class="nav-item px-2"
            {% endif %}
          >
            <a href="{% url 'contacts' %}" class="nav-link">{% trans "Contacts" %}</a>
          </li>
          <li
            {% if 'profile' in request.path %}
              class="nav-item px-2 active"
            {% else %}
              class="nav-item px-2"
            {% endif %}
          >
            <a href="{% url 'profile' %}" class="nav-link">{% trans "Profile" %}</a>
          </li>
         </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
