{% load i18n %}
<!-- SubMenu / Search -->
<header id="actions-blog" class="py-4 mt-0 bg-custom-secondary-light shadow">
  <div  class="mx-3 px-5">
    <div class="row">
        <div class="col-9 d-none d-lg-block align-content-stretch text-white topic-themes text-center">
          <div class="d-flex justify-content-around">
            <i class="fas fa-cat fa shadow" data-aos="zoom-in" data-aos-delay="100"></i>
            <i class="fas fa-dog fa shadow" data-aos="zoom-in" data-aos-delay="150"></i>
            <i class="fas fa-drumstick-bite fa shadow" data-aos="zoom-in" data-aos-delay="200"></i>
            <i class="fas fa-fish fa shadow" data-aos="zoom-in" data-aos-delay="250"></i>
            <i class="fas fa-dove fa shadow" data-aos="zoom-in" data-aos-delay="300"></i>
            <i class="fas fa-syringe fa shadow" data-aos="zoom-in" data-aos-delay="350"></i>
            <i class="fas fa-skull-crossbones fa shadow" data-aos="zoom-in" data-aos-delay="400"></i>
            <i class="fas fa-ambulance fa shadow" data-aos="zoom-in" data-aos-delay="450"></i>
            <i class="fas fa-hands-helping fa shadow" data-aos="zoom-in" data-aos-delay="500"></i>
            <i class="fas fa-spider fa shadow" data-aos="zoom-in" data-aos-delay="550"></i>
            <i class="fas fa-home fa shadow" data-aos="zoom-in" data-aos-delay="600"></i>
            <i class="fas fa-volleyball-ball fa shadow" data-aos="zoom-in" data-aos-delay="650"></i>
          </div>
      </div>
      <div class="col-sm-3 col-6 mt-1 mx-auto" data-aos="zoom-in" data-aos-delay="700">
          <a href="{% url 'createnewpost' %}" class="btn btn-primary custom-btn btn-block shadow">
          <i class="fas fa-plus-circle"></i>&nbsp; {% trans "New Post" %}</a>
      </div>
    </div>
  </div>
</header>
