<!-- {% load static %} in case of need for LOGO-->
{% load i18n %}
{% load user_agents %}

<nav
  {% if 'user' in request.path or 'support' in request.path %}
    class="navbar navbar-expand-lg navbar-light bg-custom-secondary-light"
  {% else %}
    class="navbar navbar-expand-lg navbar-dark bg-custom-primary shadow sticky-top"
  {% endif %}
>
  <div class="container-fluid px-4">
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse py-2" id="navbarCollapse">

      <ul class="navbar-nav text-lg-left text-center mr-auto">
        <li
          {% if '/' == request.path %}
            class="nav-item pr-2 active"
          {% else %}
            class="nav-item pr-2"
          {% endif %}
        >
          <a  class="nav-link" href="{% url 'home' %}">{% trans "Home" %}</a>
        </li>
        <li
          {% if 'featured' in request.path %}
            class="nav-item px-2 active"
          {% else %}
            class="nav-item px-2"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'listings' %}">{% trans "Featured Listings" %}</a>
        </li>

        <li
          {% if 'blog' in request.path %}
            class="nav-item px-2 active"
          {% else %}
            class="nav-item px-2"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'blog' %}">{% trans "Blog" %}</a>
        </li>
        <li
          {% if 'products' in request.path%}
            class="nav-item px-2 active"
          {% else %}
            class="nav-item px-2"
          {% endif %}
        >
        <a class="nav-link" href="{% url 'products:products-view' %}">{% trans "Предложения" %}</a>
        </li>
        <li
        {% if 'wishlist' in request.path%}
          class="nav-item px-2 active"
        {% else %}
          class="nav-item px-2"
        {% endif %}>
           <a class="nav-link" href="{% url 'carts:cart_detail' %}">
             <span class="navbar-listings-count">
              {{ listing_items }}
             </span> <i class="fas fa-paw"></i>
           </a>
        </li>

        <li
        {% if 'wishlist' in request.path%}
          class="nav-item px-2 active"
        {% else %}
          class="nav-item px-2"
        {% endif %}>
           <a class="nav-link" href="{% url 'carts:cart_detail' %}">
             <span class="navbar-products-count">
               {{ product_items }}
             </span> <i class="fas fa-heart"></i>
           </a>
        </li>

      </ul>

      <ul class="navbar-nav text-lg-right text-center mb-lg-0 mb-4 ml-auto">
        <li class="nav-item my-lg-1 my-2">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <div class="input-group mx-auto my-sm-0 my-2" style="width:130px;">
            <select name="language" class="form-control" id="topbar-input">
              {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                            selected{% endif %}> {{ language.code }}
                    </option>
                {% endfor %}
            </select>
            <div class="input-group-append mr-lg-3">
            <input type="submit"  class="btn topbar-language" value="Go"/>
            </div>
            </div>
        </form>
        </li>

       {% if user.is_authenticated %}
        <li
        {% if 'dashboard' in request.path%}
          class="nav-item my-auto mr-3 active"
        {% else %}
          class="nav-item my-auto mr-3"
        {% endif %}
        >
         <div class="dropdown">
          <a href="#" type="button" class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton">
            <i class="fas fa-user"></i> {% trans "Welcome" %} {{ user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="{% url 'dashboard' %}" class="dropdown-item text-left">
              <small>{% trans "Account" %}</small></a>
            <a href="{% url 'profile' %}" class="dropdown-item text-left">
              <small>Профиль</small></a>
            <a href="{% url 'support' %}" class="dropdown-item text-left">
              <small>Поддержка</small></a>
          </div>
        </div>
        </li>

        <li class="nav-item my-auto">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="fas fa-sign-out-alt"></i> {% trans "Logout" %}
          </a>
        </li>

        {% else %}
        {% if not request.user_agent.is_bot %}
            <li
              {% if 'register' in request.path%}
                class="nav-item my-auto px-2 mr-3 active"
              {% else %}
                class="nav-item my-auto px-2 mr-3"
              {% endif %}
            >
              <a href="{% url 'register' %}" class="nav-link">
                <i class="fas fa-user-plus"></i> {% trans "Register" %}
              </a>
            </li>
            <li
              {% if 'login' in request.path%}
                class="nav-item my-auto pr-2 active"
              {% else %}
                class="nav-item my-auto pr-2"
              {% endif %}
            >
              <a href="{% url 'login' %}" class="nav-link">
                <i class="fas fa-sign-in-alt"></i> {% trans "Login" %}
              </a>
            </li>
            {% endif %}
          {% endif %}


      </ul>

    </div>
  </div>
</nav>
