{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "Logout" %} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Showcase -->
<div class="account-wrap">
<section id="showcase-logout">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto text-center text-dark">
            <h2 class="custom-h3">{% trans "You have been logged out" %}</h2>
            <i class="fas fa-paw"></i>
      </div>
    </div>

  </div>
</section>
</div>

{% endblock %}
