{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "Password Reset" %} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Showcase -->
<section id="showcase-logout">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card-enter shadow">

          <div class="alert alert-info text-center">
            {% trans "An email has been sent with instructions to reset your password" %}
          </div>

        </div>
      </div>
    </div>

  </div>
</section>


{% endblock %}
