{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "Password Reset" %} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Showcase -->
<div class="account-wrap">
<section id="showcase-logout">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="text-center">
         <h3>{% trans "Your password has been set" %}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

{% endblock %}
