{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "Password Reset" %} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Showcase -->
<section id="showcase-logout">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto my-4">
        <div class="card-enter shadow mb-4">
          <div class="card-header bg-custom-secondary-light-opaque text-white px-4">

            <h3 class="custom-h3"><i class="fas fa-sign-in-alt"></i> &nbsp {% trans "Reset Password" %}</h3>
          </div>
          <div class="card-body bg-custom-secondary-light-opaque text-white px-4">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <form class="px-4 pb-4 mx-3" method="POST">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              {{ form|crispy }}

              <div class="pt-3">
                <button type="submit" class="btn btn-secondary custom-btn btn-block shadow">{% trans "Save" %}</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


{% endblock %}
