{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %} | {% trans "Home page" %} {% endblock %}
{% block content %}
  <!-- Showcase -->
<section id="showcase" class="shadow">
  <div class="container text-center">
    <div class="home-search">

      <div class="overlay m-sm-2 m-4 p-4 text-white shadow">

        <h1 class="d-none d-sm-block display-4 mb-4">

          {% get_current_language as LANGUAGE_CODE %}
          {% if LANGUAGE_CODE == 'en' %}{{ welcometext.title }}
          {% elif LANGUAGE_CODE == 'ru' %}{{ welcometext.title_ru }}{% endif %}

        </h1>
        <p class="lead intro" data-aos="fade" data-aos-duration="3000">

          {% if LANGUAGE_CODE == 'en' %}{{ welcometext.content }}
          {% elif LANGUAGE_CODE == 'ru' %}{{ welcometext.content_ru }}{% endif %} &nbsp;<i class="fas fa-paw"></i>

        </p>
        <div class="search">
          <form action="{% url 'searchlistings' %}">
            <!-- Form Row 1 -->
            <div class="form-row mb-md-2 mt-0">
              <div class="col-md-3 col-sm-12 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "Keywords" %}</label>
                <input type="text" name="keywords" class="form-control shadow-sm" placeholder="{% trans "Keyword" %}" value="{{ values.keywords }}">
              </div>


              <div class="col-md-3 col-6 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "Category" %}</label>
                <select name="category" class="form-control shadow-sm">
                  <option selected="true" disabled="disabled">{% trans "Category" %}</option>
                  {% for category in categories %}
                  {% get_current_language as LANGUAGE_CODE %}
                      <option value="{{ category.id }}">
                        {% if LANGUAGE_CODE == 'en' %}{{ category.title }}
                        {% elif LANGUAGE_CODE == 'ru' %}{{ category.title_ru }}{% endif %}
                      </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-3 col-6 mx-auto p-md-2 py-3">
                <select name="price" class="form-control shadow-sm" id="type">
                  <option selected="true" disabled="disabled">{% trans "Price" %}</option>
                  {% for key, value in price_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-3 col-sm-12 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "City" %}</label>
                <input type="text" name="city" class="form-control shadow-sm" placeholder="{% trans "City" %}" value="{{ values.city }}">
              </div>


              <div class="col-md-4 col-6 mx-auto p-md-2 py-3">
                <label for="type" class="sr-only">{% trans "Type" %}</label>
                <select data-target="secondList" class="firstList selectFilter form-control shadow-sm" name="type" id="first">
                  <option disabled selected value>{% trans "Types" %}</option>
                  {% for type in types %}
                  {% get_current_language as LANGUAGE_CODE %}
                      <option  data-ref="{{ type.id }}" value="{{ type.id }}">
                        {% if LANGUAGE_CODE == 'en' %}{{ type.title }}
                        {% elif LANGUAGE_CODE == 'ru' %}{{ type.title_ru }}{% endif %}
                      </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-4 col-6 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "Breed" %}</label>
                <select name="breed" class="secondList selectFilter form-control shadow-sm">
                  <option disabled selected value>{% trans "Breeds" %}</option>
                  {% for breed in breeds %}
                  {% get_current_language as LANGUAGE_CODE %}
                      <option data-belong="{{ breed.type_id_id }}"  value="{{ breed.id }}">
                        {% if LANGUAGE_CODE == 'en' %}{{ breed.title }}
                        {% elif LANGUAGE_CODE == 'ru' %}{{ breed.title_ru }}{% endif %}
                      </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-4 col-sm-12 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "Age" %}</label>
                <select name="age" class="form-control shadow-sm">
                  <option selected="true" disabled="disabled">{% trans "Age" %}</option>
                  {% for age in ages %}
                  {% get_current_language as LANGUAGE_CODE %}
                      <option value="{{ age.id }}">
                        {% if LANGUAGE_CODE == 'en' %}{{ age.title }}
                        {% elif LANGUAGE_CODE == 'ru' %}{{ age.title_ru }}{% endif %}
                      </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary custom-btn bg-custom-primary shadow btn-block mt-md-4 mt-sm-5 mt-4" type="submit">{% trans "Search" %}</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- Listings -->
<section id="listings" class="py-5 mb-4">
  <div class="container">
    <h2 class="titles-custom text-center my-5">{% trans "Latest Listings" %}</h2>
    <div class="row">
      {% if listings %}
        {% for listing in listings %}
        <!-- Listing  -->
          <div class="col-xl-3 col-lg-4 col-md-6 my-4" data-aos="fade-up" data-aos-delay="{% widthratio forloop.counter 1 100 %}">
            <div class="card listing-preview mx-sm-0 mx-4 shadow">
              <a href="{% url 'listing' listing.id %}">
              {% if listing.photo_main %}
              <div id="container-image">
                <div id="dummy">
                  <div id="element-cards">
                     <img src="{{ listing.photo_main.url }}" class="img-fluid cards">
                   </div>
                </div>
              </div>
              {% else %}
              <div id="container-image">
                <div id="dummy">
                  <div id="element-cards">
                     <img src="{% static 'img/avatar-animal.svg' %}" class="img-fluid cards">
                   </div>
                </div>
              </div>
              {% endif %}
              </a>
              <div class="card-img-overlay">
                {% get_current_language as LANGUAGE_CODE %}
                {% if listing.category_id_id == 1 %}

                {% if LANGUAGE_CODE == 'en' %}<span class="badge" id="badge-1-homeless">{{ listing.category_id.title }}</span>
                {% elif LANGUAGE_CODE == 'ru' %}<span class="badge" id="badge-1-homeless">{{ listing.category_id.title_ru }}</span>{% endif %}


                {% elif listing.category_id_id == 2 %}

                {% if LANGUAGE_CODE == 'en' %}<span class="badge" id="badge-2-lost">{{ listing.category_id.title }}</span>
                {% elif LANGUAGE_CODE == 'ru' %}<span class="badge" id="badge-2-lost">{{ listing.category_id.title_ru }}</span>{% endif %}

                {% elif listing.category_id_id == 3 %}

                {% if LANGUAGE_CODE == 'en' %}<span class="badge" id="badge-3-forsale">{{ listing.category_id.title }}</span>
                {% elif LANGUAGE_CODE == 'ru' %}<span class="badge" id="badge-3-forsale">{{ listing.category_id.title_ru }}</span>{% endif %}

                {% else %}

                {% if LANGUAGE_CODE == 'en' %}<span class="badge" id="badge-4-seekshelp">{{ listing.category_id.title }}</span>
                {% elif LANGUAGE_CODE == 'ru' %}<span class="badge" id="badge-4-seekshelp">{{ listing.category_id.title_ru }}</span>{% endif %}

                {% endif %}
              </div>
              <div class="card-body pt-2">

                <div class="listing-heading text-center mt-1">
                  <i class="fas fa-map-marker-alt"></i> {{ listing.city }}
                </div>
                <div class="text-center">
                  <p class="topic-titles mb-3 px-0"><small>{{ listing.district }}</small></p>
                </div>
                <hr class="my-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                    <div class="">
                      {% get_current_language as LANGUAGE_CODE %}
                          {% if LANGUAGE_CODE == 'en' %}<i class="fas fa-angle-down"></i> {{ listing.types_id.title }}
                          {% elif LANGUAGE_CODE == 'ru' %}<i class="fas fa-angle-down"></i> {{ listing.types_id.title_ru }}{% endif %}
                    </div>

                    <div class="">
                      {% get_current_language as LANGUAGE_CODE %}
                          {% if LANGUAGE_CODE == 'en' %}<i class="fas fa-angle-down"></i> {{ listing.breeds.title | truncatechars:12}}
                          {% elif LANGUAGE_CODE == 'ru' %}<i class="fas fa-angle-down"></i> {{ listing.breeds.title_ru | truncatechars:12}}{% endif %}
                    </div>

                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                    <div class="">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% if LANGUAGE_CODE == 'en' %}<i class="fas fa-angle-down"></i> {{ listing.gender_id.title }}
                      {% elif LANGUAGE_CODE == 'ru' %}<i class="fas fa-angle-down"></i> {{ listing.gender_id.title_ru }}{% endif %}
                    </div>
                    <div class="">
                      {% if listing.price == 0 %}
                      <i class="fas fa-angle-down"></i> {% trans "For free" %}
                      {% else %}
                      <i class="fas fa-angle-down"></i> {{ listing.price | intcomma }}
                      {% endif %}
                    </div>

                  </li>
                 </ul>

                <div class="row pt-2">
                  <div class="col text-center">
                    <i class="fas fa-clock"></i> {{ listing.created | naturaltime }}</div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        {% else %}
          <div class="col-md-12 text-center">
            <p>{% trans 'No Listings Available' %}</p>
          </div>
        {% endif %}
    </div>



   </div>
</section>

<section id="services" class="py-5 text-white">
  <div class="container">

      <div class="container-fluid" id="intro">
       <div class="row py-4">

            {% for service in services %}
            <div class="col-lg col-12 mb-sm-0 mb-4 text-center" data-aos="fade-up" data-aos-delay="{% widthratio forloop.counter 1 100 %}">

              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <div class="col-12 mb-3 mx-auto">
                    <i class="fas fa-feather-alt fa-lg"></i>
                  </div>
                  <h5 class="mb-4">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'en' %}{{ service.title }}
                    {% elif LANGUAGE_CODE == 'ru' %}{{ service.title_ru }}{% endif %}
                  </h5>
                </div>
                <div>
                  <p>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'en' %}{{ service.content }}
                    {% elif LANGUAGE_CODE == 'ru' %}{{ service.content_ru }}{% endif %}
                  </p>
                  <hr class="d-lg-none">
                </div>
            </div>
          </div>
          {% endfor %}

       </div>
     </div>

  </div>
</section>

{% endblock %}
