{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %} | {% trans "Home page" %} {% endblock %}
{% block content %}
  <!-- Showcase -->
<section id="showcase" class="shadow">
  <div class="container text-center">
    <div class="home-search">

      <div class="overlay m-sm-2 m-4 p-4 text-white shadow">

        <h1 class="d-none d-sm-block display-4 mb-4">

          {% get_current_language as LANGUAGE_CODE %}
          {% if LANGUAGE_CODE == 'en' %}{{ welcometext.title }}
          {% elif LANGUAGE_CODE == 'ru' %}{{ welcometext.title_ru }}{% endif %}

        </h1>
        <p class="lead intro" data-aos="fade" data-aos-duration="3000">

          {% if LANGUAGE_CODE == 'en' %}{{ welcometext.content }}
          {% elif LANGUAGE_CODE == 'ru' %}{{ welcometext.content_ru }}{% endif %} &nbsp;<i class="fas fa-paw"></i>

        </p>
        <div class="search">
          <form action="{% url 'searchlistings' %}">
            <!-- Form Row 1 -->
            <div class="form-row mb-md-2 mt-0">
              <div class="col-md-3 col-sm-12 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "Keywords" %}</label>
                <input type="text" name="keywords" class="form-control shadow-sm" placeholder="{% trans "Keyword" %}" value="{{ values.keywords }}">
              </div>


              <div class="col-md-3 col-6 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "Category" %}</label>
                <select name="category" class="form-control shadow-sm">
                  <option selected="true" disabled="disabled">{% trans "Category" %}</option>
                  {% for category in categories %}
                  {% get_current_language as LANGUAGE_CODE %}
                      <option value="{{ category.id }}">
                        {% if LANGUAGE_CODE == 'en' %}{{ category.title }}
                        {% elif LANGUAGE_CODE == 'ru' %}{{ category.title_ru }}{% endif %}
                      </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-3 col-6 mx-auto p-md-2 py-3">
                <select name="price" class="form-control shadow-sm" id="type">
                  <option selected="true" disabled="disabled">{% trans "Price" %}</option>
                  {% for key, value in price_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-3 col-sm-12 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "City" %}</label>
                <input type="text" name="city" class="form-control shadow-sm" placeholder="{% trans "City" %}" value="{{ values.city }}">
              </div>


              <div class="col-md-4 col-6 mx-auto p-md-2 py-3">
                <label for="type" class="sr-only">{% trans "Type" %}</label>
                <select data-target="secondList" class="firstList selectFilter form-control shadow-sm" name="type" id="first">
                  <option disabled selected value>{% trans "Types" %}</option>
                  {% for type in types %}
                  {% get_current_language as LANGUAGE_CODE %}
                      <option  data-ref="{{ type.id }}" value="{{ type.id }}">
                        {% if LANGUAGE_CODE == 'en' %}{{ type.title }}
                        {% elif LANGUAGE_CODE == 'ru' %}{{ type.title_ru }}{% endif %}
                      </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-4 col-6 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "Breed" %}</label>
                <select name="breed" class="secondList selectFilter form-control shadow-sm">
                  <option disabled selected value>{% trans "Breeds" %}</option>
                  {% for breed in breeds %}
                  {% get_current_language as LANGUAGE_CODE %}
                      <option data-belong="{{ breed.type_id_id }}"  value="{{ breed.id }}">
                        {% if LANGUAGE_CODE == 'en' %}{{ breed.title }}
                        {% elif LANGUAGE_CODE == 'ru' %}{{ breed.title_ru }}{% endif %}
                      </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-4 col-sm-12 mx-auto p-md-2 py-3">
                <label class="sr-only">{% trans "Age" %}</label>
                <select name="age" class="form-control shadow-sm">
                  <option selected="true" disabled="disabled">{% trans "Age" %}</option>
                  {% for age in ages %}
                  {% get_current_language as LANGUAGE_CODE %}
                      <option value="{{ age.id }}">
                        {% if LANGUAGE_CODE == 'en' %}{{ age.title }}
                        {% elif LANGUAGE_CODE == 'ru' %}{{ age.title_ru }}{% endif %}
                      </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary custom-btn bg-custom-primary shadow btn-block mt-md-4 mt-sm-5 mt-4" type="submit">{% trans "Search" %}</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- Listings -->
<section id="listings" class="py-5 mb-4">
  <div class="container">
    <h2 class="titles-custom text-center my-5">{% trans "Latest Listings" %}</h2>
    <div class="row">
      {% if listings %}
        {% for listing in listings %}

         {% include 'listings/snippets/card.html' with instance=listing %}

        {% endfor %}
      {% else %}
        <div class="col-md-12 text-center">
          <p>{% trans 'No Listings Available' %}</p>
        </div>
      {% endif %}
    </div>



   </div>
</section>

<section id="products-title" class="text-center">
  <div class="container">
      <h1 class="text-white py-5 m-0" style="position: relative;z-index: 1;">Новые предложения</h1>
  </div>
  {% include 'products/snippets/categories.html'%}
</section>




<section class="py-5">
  <div class="container">
    <div class="row d-flex justify-content-center">

      {% for obj in object_list %}
        {% include 'products/snippets/card.html' with instance=obj %}
      {% endfor %}


    </div>
  </div>
</section>

<section id="services" class="py-5 text-white">
  <div class="container">

      <div class="container-fluid" id="intro">
       <div class="row py-4">

            {% for service in services %}
            <div class="col-lg col-12 mb-sm-0 mb-4 text-center" data-aos="fade-up" data-aos-delay="{% widthratio forloop.counter 1 100 %}">

              <div class="d-flex flex-column justify-content-between h-100">
                <div>
                  <div class="col-12 mb-3 mx-auto">
                    <i class="fas fa-feather-alt fa-lg"></i>
                  </div>
                  <h5 class="mb-4">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'en' %}{{ service.title }}
                    {% elif LANGUAGE_CODE == 'ru' %}{{ service.title_ru }}{% endif %}
                  </h5>
                </div>
                <div>
                  <p>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'en' %}{{ service.content }}
                    {% elif LANGUAGE_CODE == 'ru' %}{{ service.content_ru }}{% endif %}
                  </p>
                  <hr class="d-lg-none">
                </div>
            </div>
          </div>
          {% endfor %}

       </div>
     </div>

  </div>
</section>

{% endblock %}
