{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "Terms & Conditions" %} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="account-wrap">

  <section id="showcase-logout">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto scroll mb-5">
         <div class="card shadow" id="listings">
           <div class="card-body p-4">
            <h2>

              {% get_current_language as LANGUAGE_CODE %}
              {% if LANGUAGE_CODE == 'en' %}{{ terms.title }}
              {% elif LANGUAGE_CODE == 'ru' %}{{ terms.title_ru }}{% endif %}

            </h2>
            <p>

              {% if LANGUAGE_CODE == 'en' %}{{ terms.content | safe | linebreaks }}
              {% elif LANGUAGE_CODE == 'ru' %}{{ terms.content_ru | safe | linebreaks }}{% endif %}

            </p>
           </div>
         </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
