{% load i18n %}

<form method='POST' action="{% url 'carts:update' %}" class="form-listing-ajax-home-page text-center mt-3">
  {% csrf_token %}
   <input type="hidden" name="listing_id" value="{{ listing.id }}">
   <span class="submit-span-home-page">
     {% if listing in cart.listings.all %}
       <button type="submit" class="btn btn-link"><i class="fas fa-heart fa-lg icon"></i></button>
     {% else %}
       <button type="submit" class="btn btn-link"><i class="far fa-heart fa-lg icon"></i></button>
     {% endif %}
   </span>
</form>
