html, body {
  min-height: 100%;
  min-width: 100%;
}


body {
  background-color: #bdba99;
}

/* b0ae99 */
/* e8d8be */
  /* 36384c;
 #613a43; */

#actions {
  background-image: url("../img/aerial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 95px;
}

#actions-blog {
  background-image: url("../img/aerial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 95px;
}






#main-footer-light {
  background-color: rgba(54, 56, 76, 0.7);
}

#main-footer-pages {
  background: #36384c;
  box-shadow: inset 0px 0px 40px rgba(0,0,0,0.2);
}

  /* background-color: #36384c;
  background-color: #613a43; */

#listings {
  background: #fff;
  min-height:350px;
}

#listings-featured {
  background: #fff;
  min-height:350px;
}

.custom-secondary-text-listing {
  background: none;
  color: #613a43;
  font-weight: 400;
}

#bc {
  background: rgba(255, 255, 255, 0.9);
}


.custom-h3 {
  font-size: 1.3rem;
}

.small .topic-titles {
  font-size: 2rem;
}

.navbar {
  text-transform: uppercase;
  padding: 0;
  z-index: 20;
}

.header-sticky {
  top: 0px;
  position: sticky;
  z-index: 2;
  overflow: hidden;
}



.forums a {
  text-decoration: none;
}

.breadcrumb a {
  text-decoration: none;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1.5rem;
}

.titles-custom-cards{
font-family: 'Righteous', cursive;
color: #fff;

}


#showcase {
  padding-top: 6rem;
  position: relative;
  background-image: url("../img/aerial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


#showcase-logout {
  min-height: 487px;
  padding-top: 3rem;
  position: relative;
}


#showcase .home-search {
  border-radius: 5px;
  position: relative;
  padding-bottom: 5rem;

}
#showcase .overlay {
  border-radius: 5px;
  background: rgba(97, 58, 67, 0.7);
  backdrop-filter: blur(3px);
}

#showcase-home .home-search-home {
  background-image: url("../img/aerial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 5px;
  position: relative;
  padding-bottom: 5rem;

}
#showcase-home .overlay-home {
  border-radius: 5px;
  background: rgba(97, 58, 67, 0.7);
}

#showcase-inner {
  background-image: url("../img/aerial-color.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}
/* #showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(97, 68, 70, 0.5);
} */


#services {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  background-image: url("../img/door-services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}
#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(97, 68, 70, 0.5);
}

#showcase-search {
  position: relative;
  min-height: 250px;
  overflow: hidden;
}
#showcase-search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(139, 95, 112, 0.7);
}

#contents {
  min-height: 480px;
  padding-top: 3rem;
  position: relative;
}

/* LISTINGS */
.img-highlight {
  display: block;
  padding: 0;
  height: 7px;
  margin-top: -7px;
  background: #613a43;
}

/* CARDS ANIMATION */
.card.listing-preview {
  border-radius: 5px;
  position: relative;
  color: rgb(95, 95, 95);
}

.card.listing-preview:hover {
  color: rgb(15, 15, 15);
  transform: scale(1.02);

}

#badge-1-homeless {
  background: #404466;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Arial';
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 100;
}

#badge-2-lost {
  background: #806542;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Arial';
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 100;
}
#badge-3-forsale {
  background: #536e43;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Arial';
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 100;
}
#badge-4-seekshelp {
  background: #613a43;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Arial';
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: 100;
}

.social .fab {
  margin-right: 1rem;
  color: #4a4a4a;
}

.social .fab:hover {
  color: rgb(211, 209, 209);
}

/* IMAGES */

/* LISTINGS CARDS - BADGES */
.card-img-overlay {
  pointer-events: none;
  margin-top: -42px;
  left: -30px;
}

.img-profile-thumbnail {
  width: 100%;
  height: 4vw;
  object-fit: cover;
}

.img-forum {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.img-forum-empty {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: #25395b;
  border-radius: 50%;
  object-fit: cover;
}


.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#container-image {
    display: inline-block;
    position: relative;
    width: 100%;
    background: transparent;
}
#dummy {
    margin-top: 75%; /* 4:3 aspect ratio */
}
#element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: rgba(54, 56, 76, 0.7);
    border-width: 4px;
    overflow: hidden;
    border-radius: 5px;
}

#element-cards {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-top-right-radius: 5px;
}

#element-main-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: #163c4a;
    border-width: 4px;
    overflow: hidden;
    border-radius: 5px;
}

#element-thumb-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 5px;
}

#dummy-post {
    margin-top: 45%;
}
#element-post {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: rgba(54, 56, 76, 0.7);
    border-width: 4px;
    overflow: hidden;
    border-radius: 5px;
}



.img-fluid .cards {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-pic {
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user-card {
  background: rgba(255, 255, 255, 0.9);
}

#testimonials .testimonial img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50% !important;
}


#section-background {
}

.topbar-language {
  background-color: transparent;
  border-color: #9b9ca6;
  color: #9b9ca6;
  font-size: 1rem;
}

.topbar-language:hover {
  background-color: transparent;
  border-color: #cccdd2;
  color: #cccdd2;
  font-size: 1rem;
}

#topbar-input {
  background-color: transparent;
  border-color: #9b9ca6;
  color: #9b9ca6;
}

.btn-primary.custom-btn {
  background-color: #613a43;
  border-color: #613a43;
  font-size: 0.8rem;
}

.btn-primary.custom-btn:hover {
  height: 3em;
  background: #36384c;
  border-color: #36384c;

}


.btn-secondary.custom-btn {
  background-color: #36384c;
  border-color: #36384c;
}

.btn.btn-actions {
  background-color: #613a43;
  border-color: #613a43;
  font-size: 1rem;
}

.bg-custom-transparent-light {
  background: rgba(255,255,255, 0.5);
}

.bg-custom-white-opaque {
  background: rgba(255,255,255, 0.9);
}

.bg-custom-primary {
  background: #36384c;
  border-color: #36384c;
}

.bg-custom-light {
  background: rgb(244, 244, 244);
}

.bg-custom-primary-reverse {
  background: rgb(244, 244, 244);
  border-color: rgb(219, 211, 211);
  color: rgb(92, 90, 90);
}

.bg-custom-primary-reverse:hover {
  background: #36384c;
  border-color: #36384c;
  color: #fff;
}

.bg-custom-secondary {
  background: #613a43;
  border-color: #613a43;
}

.bg-custom-primary-light {
  background: rgba(54, 56, 76, 0.9);
  border: none;
}
/* background: rgba(54, 56, 76, 0.8); */


.bg-custom-secondary-light-opaque {
  background: rgba(97, 58, 67, 0.7);
  border-color: rgb(97, 58, 67);
}

/* LIGHT BG */
.bg-custom-secondary-light {
  background: #e8e5be;
  border-color: #e8e5be;
}

.bg-custom-transparent {
  background: transparent;
}

.custom-primary-text {
  color: #36384c;
}

.custom-grey-text {
  color: #9c9c9c;
}

.custom-secondary-text {
  color: #613a43;
}

.breadcrumb {
  background: transparent;
}

.table td,
.table th {
  border-color: #e8d8be !important;
}

.table {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.card .card-header {
  background-color: transparent;
  border-color: #e8d8be;
}

.topic-titles {
  line-height: 1.3rem; /* within paragraph */
  padding-left: 1.5rem;
}


.container a {
  text-decoration: none;
}

.card-enter .card-header {
  border-bottom: 1px solid;
  border-color: #36384c;
}

.tooltip-inner {
  background-color: white;
}

.popover {
  width: auto !important;
  max-width: none;
}

/* BLOG NAV ICONS */

#actions-blog .topic-themes .fas {
  display: inline-block;
  overflow: hidden;
  background: #613a43;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 0.8rem;
  margin-bottom: none;
}

#actions-blog .topic-themes .fas:hover {
  transform: scale(1.1);
  background: #36384c;
}


.card-body {
  z-index: 1;
}

.upload-icons {
  z-index: 2;
}

#btn-clear, .upload-icons .fas {
  color: #333;
  cursor:pointer;
  background-image: radial-gradient(at center, #fff 60%, transparent 40%);
}

#btn-clear:hover, .upload-icons .fas:hover {
  color: #e8d8be;
  background-image: radial-gradient(at center, #333 60%, transparent 40%);
}

.accordion {
  border-top: none;
}



.card-header .gauge {
  position: absolute;
}

/* GAUGEMETER */
.GaugeMeter{
  Position:        Relative;
  Text-Align:      Center;
  Overflow:        Hidden;
  Cursor:          Default;
}

.GaugeMeter SPAN,
.GaugeMeter B{
  Margin:          0 0%;
  Width:           54%;
  Position:        Absolute;
  Text-align:      Center;
  Display:         Inline-Block;
  Color:           RGBa(0,0,0,.8);
  Font-Weight:     100;
  Font-Family:     "Open Sans", Arial;
  Overflow:        Hidden;
  White-Space:     NoWrap;
  Text-Overflow:   Ellipsis;
}


#number {
    font-size: 4rem;
}


#image-field-0 {
  cursor: pointer;
}

input[type="file"] {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 100;
  color: white;
  background-color: transparent;
  display: inline-block;
  z-index: 1000000000;
}

.image-fields label {
font-size: 0;
}

label {
  font-weight:500;
}

.article-title {
  color: inherit;
}

.article-img {
  height:60px;
  width:60px;
}

.popover {
    max-width: 300px;
    border-color: #d6d6d6;
    box-shadow: 0 0 9px rgba(0,0,0,0.2);
}

#row-carousel {
  height: 260px;
}

.carousel-item {
  display: none;
  transition: opacity 0.1s ease-in-out;
}



@media (max-width: 1024px) {

  #services {
    background-position: center;
    background-attachment: scroll !important;
  }


  #showcase {
    background-position: center;
    background-attachment: scroll !important;
    background-position: top !important;
  }

  #showcase-inner {
    background-attachment: scroll !important;
    background-position: center;
  }


  #listing-heading {
  font-size:3rem;
  }

  .hidden-phone {
   font-size: 0;
  }

  #row-carousel {
    height: 270px;
  }

}

@media (max-width: 991px) {

  #row-carousel {
    height: 850px;
  }

}



@media (max-width: 768px) {

  #dummy-post {
      margin-top: 65%;
  }

  #listing-heading {
  font-size:2.8rem;
  }

  .header-sticky {
    font-size:0.9rem;
  }

  .img-post-detail {
    height: 210px;
  }

  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  #no-more-tables thead tr {
    display: none;
  }

  #no-more-tables tr {
    border: 1px solid #ccc;
  }

  #no-more-tables td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 10%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  #no-more-tables td:before {
    content: attr(data-title);
  }

  .action-buttons {
    padding: 1px;
  }



  .hidden-actions {
   font-size: 0;
  }

  #row-carousel {
    height: 740px;
  }


}

@media (max-width: 577px) {

  .header-sticky {
    font-size:0.7rem;
  }

  #listing-heading {
  font-size:2.3rem;
  }

  #showcase-logout {
    min-height: 680px;
  }

  #showcase-inner {
    background-attachment: scroll !important;
    background-size: 270%;
    background-position: top center;
  }

  #row-carousel {
    height: 700px;
  }


}

@media (min-height: 1023px) {

  #showcase-logout {
    min-height: 860px;
  }

}

@media (min-height: 1364px) {

  #showcase-logout {
    min-height: 1200px;
  }

  #listings-featured {
    min-height:972px;
  }

  #contents {
    min-height: 1030px;
  }

}


@media (max-width: 481px) {

  .header-sticky {
    font-size:0.64rem;
  }

  #listing-heading {
  font-size:2rem;
  }

  #row-carousel {
    height: 810px;
  }

}
