{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %} | {% trans "Post" %} {% endblock %}
{% block content %}


<div class="account-wrap">
  <!-- TOPICS -->
  <section id="showcase-logout">
    <div class="container pb-4">
      <div class="row py-4 mb-5">
        <div class="col-md-10 mx-auto">
          <div class="card bg-custom-secondary-light-opaque text-white px-4 shadow">
            <div class="card-header">

              <h3 class="custom-h3 my-3"><i class="far fa-edit mr-3"></i>Редактирование</h3>
            </div>
            <div class="card-body">
              <form action="{% url 'post-update' editpost.slug %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row my-4">
                  <div class="col-md-12">
                    <label for="title">{% trans "Title" %}</label>
                    <input type="text" class="form-control shadow-sm" id="title" placeholder="{% trans "Short description" %}" name="title" maxlength="100" value = "{{ editpost.title }}" required>
                  </div>
                </div>

                <div class="row my-4">
                  <div class="col-md-12">
                    <label>{% trans "Category" %}</label>
                    {% get_current_language as LANGUAGE_CODE %}
                    <select name="theme" class="form-control shadow-sm" required>
                      {% for theme in threads %}
                          <option value="{{ theme.id }}"
                            {% if theme.id == editpost.theme.id %} selected {% else %}{% endif %}>
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == 'en' %}{{ theme.title }}
                            {% elif LANGUAGE_CODE == 'ru' %}{{ theme.title_ru }}{% endif %}
                          </option>
                          {% endfor %}
                    </select>
                  </div>
                </div>


                <div class="row my-4">
                  <div class="col-md-12">
                      <label for="description">{% trans "Content" %}</label>
                      <textarea class="form-control shadow-sm" style="min-height: 450px;" id="content" name="content" maxlength="10000" required>{{ editpost.content }}</textarea>
                  </div>
                </div>

              <div class="row">
                <div class="col-lg-4 col-12 mx-auto image-fields">
                    {% if editpost.photo %}
                    <div class="card shadow" id="container-image">
                      <div id="dummy">
                        <div id="element">
                          <img src="{{ editpost.photo.url }}" id="image-field-0" class="img-fluid">
                        </div>
                     </div>
                   </div>
                   <div class="text-white text-center mr-4">
                     <i class="fas fa-cut mr-1"></i>
                     <input id="image-clear_id" name="image-clear" type="checkbox" /> <label for="picture-clear_id">Clear</label><br />
                   </div>
                  {% else %}
                  <div class="card shadow" id="container-image">
                    <div id="dummy">
                      <div id="element">
                         <img src="" id="image-field-0" class="img-fluid">
                       </div>
                    </div>
                  </div>
                  {% endif %}
                  <label>
                      <input id="selectedFile" type="file" name="photo" onchange="previewImage(event)">
                  </label>
                 </div>
                </div>

                 <div class="col-md-6 my-4 mx-auto">
                    <button class="btn btn-secondary custom-btn btn-block shadow my-2" type="submit">{% trans "Post" %}</button>
                 </div>



              </form>
            </div>
          </div>
        </div>
      </div>



    </div>
  </section>

</div>


{% endblock %}
