{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %} | {{ object.title }} {% endblock %}
{% block content %}


  <!-- TOPICS -->
<section id="contents">
 <div class="container">
  <div class="row py-4">
    <div class="col-md-10 mx-auto">
      <div class="card mb-sm-4 bg-custom-primary-light shadow">
        <div class="card-body">
          <div class="card p-3">

              <div class="media m-0 pt-4 px-3">
                {% if object.author.userprofile.photo %}
                <a href="{% url 'user-posts' object.author.username %}">
                  <img class="img-forum mx-4" src="{{ object.author.userprofile.photo.url }}">
                </a>
                {% else %}
                <a href="{% url 'user-posts' object.author.username %}">
                  <img class="img-forum-empty mx-4" src="{% static 'img/avatar.png' %}">
                </a>
                {% endif %}
                <div class="media-body">
                  <div class="article-metadata">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <h4><a class="pop" data-toggle="popover" data-content="
                          {% if object.author.userprofile.usertype %}

                          {% get_current_language as LANGUAGE_CODE %}
                          {% if LANGUAGE_CODE == 'en' %}{{ post.author.userprofile.usertype.title }}
                          {% elif LANGUAGE_CODE == 'ru' %}{{ post.author.userprofile.usertype.title_ru }}{% endif %}

                           ~
                          {% else%}
                          Visitor
                          {% endif %}
                          {% if object.author.userprofile.business %}
                          {{ object.author.userprofile.business }}
                          {% endif %}
                          {% if object.author.userprofile.publicmail %}
                          <br>{{ object.author.userprofile.publicmail }};
                          {% endif %}
                          {% if object.author.userprofile.phone %}
                          {{ object.author.userprofile.phone }}
                          {% endif %}
                          {% if object.author.userprofile.links %}
                          <br>{{ object.author.userprofile.links }}
                          {% endif %}
                          {% if object.author.userprofile.description %}
                          <br><br>{{ object.author.userprofile.description }}
                          {% endif %}

                          ">{{ object.author }}</a></h4>
                        <!-- <a href="#" class="mr-2">{{ object.author }}</a> -->
                        <h4>&nbsp;&nbsp; ~ &nbsp;&nbsp;</h4>
                        <small class="text-muted">{{ object.created | date:"SHORT_DATE_FORMAT" }}</small> &nbsp;&nbsp;
                        <i class="fas fa-comments"></i>&nbsp;{{ object.message_set.all.count }}
                      </div>
                  </div>
                  <hr class="mt-2 mr-4">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="col-12 px-lg-3 px-0">
                  <h2 class="article-title mb-4">{{ object.title }}</h2>
                </div>


                  {% if object.photo %}
                  <div class="col-12 px-lg-3 px-0 mb-4">
                    <div class="card shadow" id="container-image">
                      <div id="dummy-post">
                        <div id="element-post">
                            <img src="{{ object.photo.url }}" class="img-fluid">
                          </div>
                        </div>
                       </div>
                  </div>
                  {% else %}
                  {% endif %}


                <div class="col-12 px-lg-3 px-0">
                  <p class="article-content">{{ object.content | safe | linebreaks }}</p>
                </div>
                {% if object.author == user %}
                <div class="text-right">
                  <a class="btn btn-secondary btn-sm my-1" href="{% url 'post-update' object.id %}">{% trans "Update" %}</a>
                  <a class="btn btn-danger btn-sm my-1" href="{% url 'post-delete' object.id %}">{% trans "Delete" %}</a>
                </div>
                {% endif %}

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- REPLIES -->
    <div class="row pt-2 pb-4 mb-5">
      <div class="col-md-10 mx-auto">
        <div class="card mb-sm-4 bg-custom-primary-light shadow">
          <div class="card-body">
            <div class="card p-3">

                  {% for message in object.message_set.all %}
                  <div class="media m-0 pt-4 px-3">
                    {% if message.author.userprofile.photo %}
                       <img class="img-forum mx-4" src="{{ message.author.userprofile.photo.url }}">
                    {% else %}
                       <img class="img-forum-empty mx-4" src="{% static 'img/avatar.png' %}">
                    {% endif %}
                  <div class="media-body">
                    <div class="row">

                    </div>
                    <div class="article-metadata">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex">


                          <h4><a class="pop" data-toggle="popover" data-content="
                            {% if message.author.userprofile.usertype %}
                            {{ message.author.userprofile.usertype }} ~
                            {% else%}
                            Visitor
                            {% endif %}
                            {% if message.author.userprofile.business %}
                            {{ message.author.userprofile.business }}
                            {% endif %}
                            {% if message.author.userprofile.publicmail %}
                            <br>{{ message.author.userprofile.publicmail }};
                            {% endif %}
                            {% if message.author.userprofile.phone %}
                            {{ message.author.userprofile.phone }}
                            {% endif %}
                            {% if message.author.userprofile.links %}
                            <br>{{ message.author.userprofile.links }}
                            {% endif %}
                            {% if message.author.userprofile.description %}
                            <br><br>{{ message.author.userprofile.description }}
                            {% endif %}

                            ">{{ message.author }}</a></h4>

                          <!-- <a href="#" class="mr-2">{{ post.author }}</a> -->
                          <h4>&nbsp;&nbsp; ~ &nbsp;&nbsp;</h4>
                          <small class="text-muted">{{ message.created | date:"SHORT_DATE_FORMAT" }}</small>
                        </div>
                      </div>

                      <hr class="mt-2 mb-1">
                      {% if message.author == user %}
                      <div class="mt-3 text-right">
                        <a class="btn btn-secondary btn-sm" href="{% url 'message-update' message.id %}">{% trans "Update" %}</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'message-delete' message.id %}">{% trans "Delete" %}</a>
                      </div>
                      {% endif %}
                    </div>
                   </div>
                  </div>
                  <div class="col-12 px-sm-4 px-3" style="margin-top:-7px;">
                    <p class="article-content pr-0">{{ message.message | safe | linebreaks }}</p>
                  </div>

                  {% endfor %}


                  <div class="col-md-4 col-6 mx-auto mt-4">
                    <a class="btn btn-secondary btn-sm d-block my-1" href="{% url 'message-create' object.id %}">{% trans "Reply" %}</a>
                  </div>





            </div>
          </div>
        </div>
      </div>


  </div>
</section>





{% endblock %}
