{% load i18n %}
{% load static %}
{% load humanize %}


<div class="col-lg-4 col-sm-6 col-12 mb-4" data-aos="fade-up" data-aos-delay="{% widthratio forloop.counter 1 100 %}">
  <div class="card listing-preview mx-0">
    <div class="card-body p-0 shadow" style="">
        {% if post.photo %}
        <a href="{{ post.get_absolute_url }}">
          <div id="container-image">
            <div id="dummy">
              <div id="element-cards">
                 <img src="{{ post.photo.url }}" class="img-fluid cards">
               </div>
            </div>
          </div>
        </a>
        {% else %}
         <div class="mt-3">
           <br>
           <br>
         </div>
        {% endif %}


      <div class="card-post-img-overlay pl-3 pt-0">
        <span class="badge">
         <div class="card p-2 bg-light shadow-sm" style="border-width:1px;border-style:solid;border-color:#c4c4c4;">
             <div class="row no-gutters">
               <div class="col-4">
                 {% if post.author.profile.photo %}
                 <a href="{% url 'user-posts' post.author.email %}">
                   <img class="img-forum" src="{{ post.author.profile.photo.url }}">
                 </a>
                 {% else %}
                 <a href="{% url 'user-posts' post.author.email %}">
                   <img class="img-forum-empty" src="{% static 'img/avatar.png' %}">
                 </a>
                 {% endif %}
               </div>
               <div class="col-8 px-4">
                 <div class="card-body p-0">
                     <h6 class="mx-0">{{ post.author.username }}</h6>
                   <hr class="mb-2 mt-0">
                   <p class="m-0">
                     <i class="fas fa-comments"></i>&nbsp;{{ post.message_set.all.count }}
                     &nbsp;&nbsp;&nbsp;<i class="fas fa-thumbs-up"></i> {{ post.likes.count }}
                   </p>
                 </div>
               </div>
             </div>
          </div>
        </span>
      </div>

    <div class="px-3 pt-2 text-center">
      <div class="post-title">
        <a href="{{ post.get_absolute_url }}">{{ post.title | truncatechars:50}}</a>
      </div>
      <p class="text-uppercase"><span><i class="far fa-calendar-alt"></i> {{ post.created.date }}</span></p>
    </div>
  </div>
 </div>
 <div class="card-footer mx-0 border-0 bg-light">
   <div class="col p-0 text-justify">
     <small>
      {% if not post.photo %}
       {{ post.content | truncatechars:370 }}
      {% else %}
      {{ post.content | truncatechars:150 }}
      {% endif %}
     </small>
   </div>
 </div>
</div>
