{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta property="og:url" content="https://thereduxjsbooks.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The ReduxJS Books" />
    <meta property="og:description" content="What you ar about to view is a complete guide to mastering Redux from total novice to badass, and with every skill level catered for. Ready?"/>

    <meta property="og:image" content="https://thereduxjsbooks.com/images/redux-trio-1200x630.png" />
    <meta property="og:image:alt" content="3 books on ReduxJS. A sequel that takes you from beginner to pro." />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://thereduxjsbooks.com/images/redux-trio-560x300.png" />
    <meta name="twitter:image:alt" content="3 books on ReduxJS. A sequel that takes you from beginner to pro." />
    <meta name="twitter:description" content="For every book you buy, we will send a free copy to a developer in India, Nigeria, and Tunisia who can't afford the cost."
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- LightBox -->
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>PetsBook {% block title %}{% endblock %}</title>


  </head>

<!-- Top Bar -->
{% include 'partials/_topbar.html' %}
<body>

<!-- {% if messages %}
  {% for message in messages %}
   <div class="alert alert-{{ message.tags }}">
      {{ message }}
   </div>
  {% endfor %}
{% endif %} -->
  <!-- Main Content -->
{% block content %} {% endblock %}
<!-- Footer -->
{% include 'partials/_footer.html' %}


<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- for tooltips and popups -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/GaugeMeter.js' %}"></script>
<script src="{% static 'js/selectFilter.min.js' %}"></script>
<script type="text/javascript">
  $("#year").text(new Date().getFullYear());
</script>


  </body>
</html>
