{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <meta property="og:site_name" content="PetsBook Club"/>
    <meta property="og:title" content="{{ listing.title }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% if listing.photo_main %}
    <meta property="og:image" itemprop="image" content="http://{{ request.get_host }}{{ listing.photo_main.url }}" />
    {% else %}
    <meta property="og:image" itemprop="image" content="http://{{ request.get_host }}{% static 'img/avatar-animal.png' %}" />
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta name="og:description" content="{{ listing.description }}"/>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <!-- LightBox -->
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>PetsBook {% block title %}{% endblock %}</title>


  </head>
<!-- Top Bar -->
{% include 'partials/_topbar.html' %}
<body>
<!-- {% if messages %}
  {% for message in messages %}
   <div class="alert alert-{{ message.tags }}">
      {{ message }}
   </div>
  {% endfor %}
{% endif %} -->
  <!-- Main Content -->


{% block content %} {% endblock %}

{% include 'partials/_footer.html' %}


<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- for tooltips and popups -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/GaugeMeter.js' %}"></script>
<script src="{% static 'js/selectFilter.min.js' %}"></script>
<script type="text/javascript">
  $("#year").text(new Date().getFullYear());
</script>


  </body>
</html>
