{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %} | {% trans "Edit Listing" %} {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Account Navbar -->
{% include 'partials/_accountnavbar.html' %}

<div class="account-wrap">
    <!-- Posts -->
    <section id="contents">
      <div class="container">
        <div class="row pt-4 pb-5">
          <div class="col-sm-10 col-12 mb-4 mx-auto">
            <h3 class="text-center text-dark mb-3">{% trans "Edit Listing" %}</h3>
            <div class="card bg-custom-primary-light p-4 mb-4 shadow">
              <form action="{% url 'editlisting' editlisting.id %}" method="post" enctype="multipart/form-data">
               {% csrf_token %}
                <!-- HIDDEN INPUT  -->
                <div class="row">

                  <div class="col-lg-9 col-12">
                    <div class="card">
                      <div class="card-body">

                            <div class="row my-lg-4">
                              <div class="col-12 my-3">
                                <label for="title">{% trans "Title" %}</label>
                                <input type="text" class="form-control shadow-sm" id="title" value="{{ editlisting.title }}" name="title" maxlength="100" required>
                              </div>
                            </div>


                            <div class="row">
                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label for="user_contact">{% trans "Contact Details" %}</label>
                                <input type="text" class="form-control shadow-sm" id="user_contact" value="{{ editlisting.user_contact }}" name="user_contact" maxlength="30" required>
                              </div>

                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label for="city">{% trans "City" %}</label>
                                <input type="text" class="form-control shadow-sm" id="city" name="city" maxlength="20" value="{{ editlisting.city }}" required>
                              </div>

                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label for="district">{% trans "District" %}</label>
                                <input type="text" class="form-control shadow-sm" id="district" name="district" maxlength="25" value="{{ editlisting.district }}" required>
                              </div>

                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label>{% trans "Category" %}</label>
                                {% get_current_language as LANGUAGE_CODE %}
                                <select name="category" class="form-control shadow-sm" required>
                                  {% for category in categories %}
                                      <option value="{{ category.id }}"
                                        {% if category.id == editlisting.category_id.id %} selected {% else %}{% endif %}>
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% if LANGUAGE_CODE == 'en' %}{{ category.title }}
                                        {% elif LANGUAGE_CODE == 'ru' %}{{ category.title_ru }}{% endif %}
                                      </option>
                                      {% endfor %}
                                </select>
                              </div>

                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label for="type">{% trans "Type" %}</label>
                                {% get_current_language as LANGUAGE_CODE %}
                                <select data-target="secondList" name="type" class="firstList selectFilter form-control shadow-sm" required>
                                  {% for type in types %}
                                      <option data-ref="{{ type.id }}" value="{{ type.id }}"
                                        {% if type.id == editlisting.types_id.id %} selected {% else %}{% endif %}>
                                        {% if LANGUAGE_CODE == 'en' %}{{ type.title }}
                                        {% elif LANGUAGE_CODE == 'ru' %}{{ type.title_ru }}{% endif %}
                                      </option>
                                      {% endfor %}
                                </select>
                              </div>

                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label>{% trans "Breed" %}</label>
                                {% get_current_language as LANGUAGE_CODE %}
                                <select name="breed" class="secondList selectFilter form-control shadow-sm" required>
                                  {% for breed in breeds %}
                                      <option data-belong="{{ breed.type_id_id }}"  value="{{ breed.id }}"
                                        {% if breed.id == editlisting.breeds.id %} selected {% else %}{% endif %}>
                                        {% if LANGUAGE_CODE == 'en' %}{{ breed.title }}
                                        {% elif LANGUAGE_CODE == 'ru' %}{{ breed.title_ru }}{% endif %}
                                      </option>
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label>{% trans "Age" %}</label>
                                {% get_current_language as LANGUAGE_CODE %}
                                <select name="age" class="form-control shadow-sm" required>
                                  {% for age in ages %}
                                  <option value="{{ age.id }}"
                                  {% if age.id == editlisting.age_id.id %} selected {% else %}{% endif %}>
                                    {% if LANGUAGE_CODE == 'en' %}{{ age.title }}
                                    {% elif LANGUAGE_CODE == 'ru' %}{{ age.title_ru }}{% endif %}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label>{% trans "Gender" %}</label>
                                {% get_current_language as LANGUAGE_CODE %}
                                <select name="gender" class="form-control shadow-sm" required>
                                  {% for gender in genders %}
                                  <option value="{{ gender.id }}"
                                  {% if gender.id == editlisting.gender_id.id %} selected {% else %}{% endif %}>
                                    {% if LANGUAGE_CODE == 'en' %}{{ gender.title }}
                                    {% elif LANGUAGE_CODE == 'ru' %}{{ gender.title_ru }}{% endif %}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="col-lg-4 col-md-6 col-12 my-3">
                                <label for="price">{% trans "Price" %}</label>
                                <input type="number" class="form-control shadow-sm" id="price" value="{{ editlisting.price }}" name="price" max="500000" required>
                              </div>

                              <div class="col-md-6 col-12 my-3">
                                <label>{% trans "Living conditions" %}</label>
                                {% get_current_language as LANGUAGE_CODE %}
                                <select name="condition" class="form-control shadow-sm" required>
                                  {% for condition in conditions %}
                                  <option value="{{ condition.id }}"
                                  {% if condition.id == editlisting.conditions_id.id %} selected {% else %}{% endif %}>
                                    {% if LANGUAGE_CODE == 'en' %}{{ condition.title }}
                                    {% elif LANGUAGE_CODE == 'ru' %}{{ condition.title_ru }}{% endif %}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="col-lg-6 col-12 my-3">
                                <label>{% trans "Health" %}</label>
                                {% get_current_language as LANGUAGE_CODE %}
                                <select name="health" class="form-control shadow-sm" required>
                                  {% for health in healths %}
                                  <option value="{{ health.id }}"
                                  {% if health.id == editlisting.health_id.id %} selected {% else %}{% endif %}>
                                      {% if LANGUAGE_CODE == 'en' %}{{ health.title }}
                                      {% elif LANGUAGE_CODE == 'ru' %}{{ health.title_ru }}{% endif %}
                                  </option>
                                  {% endfor %}
                                </select>
                              </div>


                            <div class="col-lg-6 col-12 my-3">
                              <label>{% trans "Owner" %}</label>
                              {% if editlisting.owner %}
                              <select name="owner" class="form-control shadow-sm">
                                {% for owner in contacts %}
                                <option value="{{ owner.id }}"
                                {% if owner.id == editlisting.owner.id %} selected {% else %}{% endif %}>
                                    {{ owner.name }}
                                </option>
                                {% endfor %}
                                <option value="" title="" >---------</option>
                              </select>
                              {% else %}
                              <select name="owner" class="form-control shadow-sm">
                                <option disabled selected value>--------</option>
                                {% for owner in contacts %}
                                <option value="{{ owner.id }}">{{ owner.name }}</option>
                                {% endfor %}
                              </select>
                              {% endif %}
                            </div>

                            <div class="col-lg-6 col-12 my-3">
                              <label>{% trans "Fosterer" %}</label>
                              {% if editlisting.forester %}
                              <select name="forester" class="form-control shadow-sm">
                                {% for forester in contacts %}
                                <option value="{{ forester.id }}"
                                {% if forester.id == editlisting.forester.id %} selected {% else %}{% endif %}>
                                    {{ forester.name }}
                                </option>
                                {% endfor %}
                                <option value="" title="" >---------</option>
                              </select>
                              {% else %}
                              <select name="forester" class="form-control shadow-sm">
                                <option disabled selected value>--------</option>
                                {% for forester in contacts %}
                                <option value="{{ forester.id }}">{{ forester.name }}</option>
                                {% endfor %}
                              </select>
                              {% endif %}
                            </div>
                        </div>


                            <div class="row">
                              <div class="col-md-12 my-3">
                                  <label for="description">{% trans "Description" %}</label>
                                  <textarea class="form-control shadow-sm" style="min-height: 350px;" id="description" name="description" maxlength="2500" value="{{ editlisting.description }}" required>{{ editlisting.description }}</textarea>
                              </div>
                            </div>

                            <div class="col-md-4 mb-3 mx-auto" style="margin-top:60px;">
                              <button class="btn btn-primary custom-btn btn-block shadow my-2" name="submit" value="Submit">{% trans "Submit form" %}</button>
                            </div>

                      </div>
                    </div>
                  </div>
                 <!-- END OF COL-10 -->
                 <!-- MAIN PHOTO -->
                 <div class="col-lg-3 col-12 mt-lg-0 mt-5 mx-auto image-fields">
                   <div class="">
                    {% if editlisting.photo_main %}
                     <div class="card shadow" id="container-image">
                       <div id="dummy">
                         <div id="element">
                           <img src="{{ editlisting.photo_main.url }}" id="image-field-0" class="img-fluid">
                      </div>
                    </div>
                  </div>
                    <div class="text-white text-center mr-4">
                      <i class="fas fa-cut mr-1"></i>
                      <input id="image-clear_id" name="image-clear" type="checkbox" />
                    </div>
                      {% else %}
                      <div class="card shadow" id="container-image">
                        <div id="dummy">
                          <div id="element">
                            <img src="" id="image-field-0" class="img-fluid">
                       </div>
                     </div>
                   </div>
                   {% endif %}
                   <label>
                       <input id="selectedFile" type="file" name="photo_main" onchange="previewImage(event)">
                   </label>
              </div>



                      <div class="">
                      {% if editlisting.photo_1 %}
                        <div class="card shadow" id="container-image">
                          <div id="dummy">
                            <div id="element">
                              <img src="{{ editlisting.photo_1.url }}" id="image-field-1" class="img-fluid">
                            </div>
                          </div>
                        </div>
                         <div class="text-white text-center mr-4">
                           <i class="fas fa-cut mr-1"></i>
                           <input id="image-clear_id" name="image-clear1" type="checkbox" />
                         </div>
                         {% else %}
                         <div class="card shadow" id="container-image">
                           <div id="dummy">
                             <div id="element">
                               <img src="" id="image-field-1" class="img-fluid">
                             </div>
                           </div>
                         </div>
                        {% endif %}
                        <label>
                            <input type="file" name="photo_1" onchange="previewImage1(event)">
                        </label>
                        </div>

                         <div class="">
                          {% if editlisting.photo_2 %}
                           <div class="card shadow" id="container-image">
                             <div id="dummy">
                               <div id="element">
                                 <img src="{{ editlisting.photo_2.url }}" id="image-field-2" class="img-fluid">
                               </div>
                             </div>
                           </div>
                            <div class="text-white text-center mr-4">
                              <i class="fas fa-cut mr-1"></i>
                              <input id="image-clear_id" name="image-clear2" type="checkbox" />
                            </div>
                              {% else %}
                              <div class="card shadow" id="container-image">
                                <div id="dummy">
                                  <div id="element">
                                    <img src="" id="image-field-2" class="img-fluid">
                                  </div>
                                </div>
                              </div>
                             {% endif %}
                             <label>
                                 <input type="file" name="photo_2" onchange="previewImage2(event)">
                             </label>
                            </div>

                            <div class="">
                              {% if editlisting.photo_3 %}
                              <div class="card shadow" id="container-image">
                                <div id="dummy">
                                  <div id="element">
                                    <img src="{{ editlisting.photo_3.url }}" id="image-field-3" class="img-fluid">
                                  </div>
                                </div>
                              </div>
                               <div class="text-white text-center mr-4">
                                 <i class="fas fa-cut mr-1"></i>
                                 <input id="image-clear_id" name="image-clear3" type="checkbox" />
                               </div>
                               {% else %}
                               <div class="card shadow" id="container-image">
                                 <div id="dummy">
                                   <div id="element">
                                     <img src="" id="image-field-3" class="img-fluid">
                                   </div>
                                 </div>
                               </div>
                              {% endif %}
                              <label>
                                  <input type="file" name="photo_3" onchange="previewImage3(event)" >
                              </label>
                              </div>

                               <div class="">
                                {% if editlisting.photo_4 %}
                                 <div class="card shadow" id="container-image">
                                   <div id="dummy">
                                     <div id="element">
                                       <img src="{{ editlisting.photo_4.url }}" id="image-field-4" class="img-fluid">
                                     </div>
                                   </div>
                                 </div>
                                  <div class="text-white text-center mr-4">
                                    <i class="fas fa-cut mr-1"></i>
                                    <input id="image-clear_id" name="image-clear4" type="checkbox" />
                                  </div>
                                  {% else %}
                                  <div class="card shadow" id="container-image">
                                    <div id="dummy">
                                      <div id="element">
                                        <img src="" id="image-field-4" class="img-fluid">
                                      </div>
                                    </div>
                                  </div>
                                 {% endif %}
                                 <label>
                                     <input type="file" name="photo_4" onchange="previewImage4(event)">
                                 </label>
                                </div>
                            </form>

                  </div>
                  <!-- END OF MAIN ROW -->

              </div>
            </div>
          </div>
        </div>
      </section>
</div>







{% endblock %}
