{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "My Profile" %} {% endblock %}
{% block content %}

<!-- Account Navbar -->
{% include 'partials/_accountnavbar.html' %}

 <!-- Actions -->
 <section id="actions" class="py-4 bg-custom-secondary-light shadow">
  <div class="container">
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-lg-2 col">
          <a href="{% url 'password_reset' %}"
          class="btn btn-primary custom-btn btn-block shadow"
          >
          <i class="fas fa-key"></i> {% trans "Password Reset" %}
          </a>
        </div>
        <div class="col-lg-2 col">
          <a href="{% url 'user-delete' user.id %}" class="btn btn-primary custom-btn btn-block shadow">
          <i class="fas fa-trash"></i> {% trans "Delete Account" %}
          </a>
        </div>

      </div>
    </div>
  </div>
</section>


    <!-- POSTS -->
    <section id="contents">
      <div class="container">
        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
        <div class="row pt-4 pb-5 mb-5">
          <div class="col-lg-8 col-12">
            <div class="card bg-custom-primary-light shadow">
              <div class="card-header text-white">
                <h4>{% trans "Edit Profile" %}</h4>
                <small>{% trans "Note that some of this information may be visible to the website visitors" %}</small>
              </div>
              <div class="card-body">
                <div class="card">
                  <div class="card-body">



                     <div class="row mt-lg-4">
                       <div class="col-lg-3 col-6 my-lg-0 my-3">
                         <label for="username">{% trans "Username" %}</label>
                         <input type="text" class="form-control shadow-sm" id="username" name="username" maxlength="15" value="{{ mainuser.username }}" required>
                       </div>

                       <div class="col-lg-3 col-6 my-lg-0 my-3">
                         <label for="email">{% trans "Email" %}</label>
                         <input type="text" class="form-control shadow-sm" id="email" name="email" maxlength="20" value="{{ mainuser.email }}" required>
                       </div>

                       <div class="col-lg-3 col-6 my-lg-0 my-3">
                         <label for="first_name">{% trans "First Name" %}</label>
                         <input type="text" class="form-control shadow-sm" id="first_name" name="first_name" maxlength="10" value="{{ mainuser.first_name }}" required>
                       </div>

                       <div class="col-lg-3 col-6 my-lg-0 my-3">
                         <label for="last_name">{% trans "Last Name" %}</label>
                         <input type="text" class="form-control shadow-sm" id="last_name" name="last_name" maxlength="15" value="{{ mainuser.last_name }}" required>
                       </div>
                     </div>




                   <div class="row my-lg-4">
                     <div class="col-12 text-center">
                      <i class="fas fa-plus-circle"></i>
                     </div>

                     <div class="col-12">
                       <hr>
                     </div>
                     <div class="col-lg-4 col-6 my-3">
                       <label for="usertype">{% trans "Users Group" %}</label>
                       {% get_current_language as LANGUAGE_CODE %}
                       <select name="usertype" class="form-control shadow-sm" required>
                         {% for type in usertypes %}
                             <option value="{{ type.id }}"
                               {% if type.id == edituser.usertype.id %} selected {% else %}{% endif %}>
                               {% if LANGUAGE_CODE == 'en' %}{{ type.title }}
                               {% elif LANGUAGE_CODE == 'ru' %}{{ type.title_ru }}{% endif %}
                             </option>
                             {% endfor %}
                       </select>
                     </div>

                     <div class="col-lg-4 col-6 my-3">
                       <label for="publicmail">{% trans "Email" %}</label>
                       <input type="text" class="form-control shadow-sm" id="publicmail" name="publicmail" maxlength="25" value="{{ edituser.publicmail }}">
                     </div>

                     <div class="col-lg-4 col-6 my-3">
                       <label for="business">{% trans "Organization" %}</label>
                       <input type="text" class="form-control shadow-sm" id="business" name="business" maxlength="25" value="{{ edituser.business }}">
                     </div>

                      <div class="col-lg-4 col-6 my-3">
                        <label for="phone">{% trans "Phone" %}</label>
                        <input type="text" class="form-control shadow-sm" id="phone" name="phone" maxlength="20" value="{{ edituser.phone }}">
                      </div>

                      <div class="col-lg-8 col-12 my-3">
                        <label for="links">{% trans "Links" %}</label>
                        <input type="text" class="form-control shadow-sm" id="links" name="links" maxlength="70" value="{{ edituser.links }}">
                      </div>
                  </div>

                    <div class="row mb-5">
                      <div class="col-12 mb-3">
                        <label for="description">{% trans "Details" %}</label>
                        <input type="text" class="form-control shadow-sm" id="description" name="description" maxlength="300" value="{{ edituser.description }}">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4 mb-3 mx-auto">
                        <button type="submit" class="btn btn-primary custom-btn btn-block shadow">
                        {% trans "Update" %}</button>
                      </div>
                    </div>


          </div>
        </div>
      </div>

    </div>
  </div>

          <!-- RIGHT CARDS -->

          <div class="col-lg-4 col-12 mb-4 mt-sm-0 mt-4">

            <div class="card text-center bg-custom-primary-light text-white mb-4 shadow">
               <div class="card-header">
                 <h4>{% trans "Image & Blog View" %}</h4>
                 <p class="mb-0">~</p>
              </div>
            <div class="card-body mx-auto">


                {% if edituser.photo %}
                <div class="card shadow" id="container-image">
                  <div id="dummy">
                    <div id="element">
                    <img src="{{ edituser.photo.url }}" id="image-field-0" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="text-white text-center mr-4">
                <i class="fas fa-cut mr-1"></i>
                <input id="image-clear_id" name="image-clear" type="checkbox" />
              </div>
                {% else %}
                <div class="card shadow" id="container-image">
                  <div id="dummy">
                    <div id="element">
                     <img src="{% static 'img/avatar-profile.png' %}" id="image-field-0" class="img-fluid">
                    </div>
                   </div>
                  </div>
                {% endif %}
                <label>
                    <input id="selectedFile" type="file" name="photo" onchange="previewImage(event)">
                </label>
                </form>

              </div>
            </div>


            <div class="card text-center bg-custom-primary-light text-white mb-4 shadow">
              <div class="card-body mx-auto py-4">
                <div class="col-12 text-center">
                  <div class="col-md-12 mb-2">
                    <strong>~ {{ edituser.user }} ~</strong>
                    {% if edituser.usertype %}
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'en' %}{{ edituser.usertype.title }}
                    {% elif LANGUAGE_CODE == 'ru' %}{{ edituser.usertype.title_ru }}{% endif %}
                    {% endif %}
                  </div>



                 <div class="row">

                  <div class="col-12 pl-4">
                    <div class="mt-1 text-center">
                      {% if edituser.business %}
                       {{ edituser.business }}
                      {% endif %}

                      {% if edituser.publicmail %}
                       <br> {{ edituser.publicmail }}
                      {% endif %}

                      {% if edituser.phone %}
                       <br> {{ edituser.phone }}
                      {% endif %}
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-12 py-0 text-center">
                    {% if edituser.links %}
                     <br> {{ edituser.links }}
                    {% endif %}
                  </div>
                </div>

                {% if edituser.description %}
                <div class="row">
                  <div class="col-md-12 mt-2 text-center">
                    <hr class="mb-1">
                    {{ edituser.description }}
                  </div>
                </div>
                {% endif %}

                </div>
              </div>
            </div>

          </div>

    </section>



{% endblock %}
