{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "My Contacts" %} {% endblock %}
{% block content %}

<!-- Account Navbar -->
{% include 'partials/_accountnavbar.html' %}

<!-- Actions -->
<section id="actions" class="py-4 bg-custom-secondary-light shadow">
  <!-- <form action="{% url 'posts' %}" method="post"> -->
   <div class="container">
      <div class="container-fluid px-0">
        <div class="row">

          <div class="col">
            <a href="{% url 'newcontact' %}" class="btn btn-primary custom-btn btn-block shadow" name="addnew">
              <i class="fas fa-plus-circle"></i> <span class="hidden-actions">{% trans "New" %}</span></a>
          </div>

            <div class="col">
              <button type="submit" form="activecontacts" class="btn btn-primary custom-btn btn-block shadow" name="delete">
                <i class="fas fa-trash-alt"></i> <span class="hidden-actions">{% trans "Delete" %}</span></button>
            </div>

            <div class="col">
              <a href="#" class="btn btn-primary custom-btn btn-block shadow dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-sort fa-lg"></i> <span class="hidden-actions">{% trans "Sort" %}</span></a>
              <div class="dropdown-menu">
                <button type="submit" form="activecontacts" class="dropdown-item btn btn-light" name="bygroup">
                  {% trans "By Group" %}</button>
                <button type="submit" form="activecontacts" class="dropdown-item btn btn-light" name="bytype">
                  {% trans "By Type" %}</button>
                <button type="submit" form="activecontacts" class="dropdown-item btn btn-light" name="bydate">
                  {% trans "By Date" %}</button>
              </div>
            </div>

            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'en' %}
            <div class="col">
              <button type="submit" form="activecontacts" class="btn btn-primary custom-btn btn-block shadow" name="export">
                <i class="fas fa-file-excel"></i> <span class="hidden-actions">{% trans "Save List" %}</span></button>
            </div>
            {% elif LANGUAGE_CODE == 'ru' %}
            <div class="col">
              <button type="submit" form="activecontacts" class="btn btn-primary custom-btn btn-block shadow" name="export_ru">
                <i class="fas fa-file-excel"></i> <span class="hidden-actions">{% trans "Save List" %}</span></button>
            </div>
            {% endif %}






        </div>
      </div>

  </div>
 <!-- </form> -->
</section>



<!-- Posts -->
<section id="contents">
  <div class="container">

    <div class="row py-4 mb-5">
      <div class="col-12 mb-4">
        <div class="card bg-custom-primary-light shadow">
          <div class="card-body">
              {% if contacts %}
                    <div class="accordion" id="accordionExample">
                      <div class="card">
                        <form action="{% url 'contacts' %}" method="POST" id="activecontacts">
                        {% csrf_token %}

                        {% for contact in contacts %}
                        <div class="card-header p-3 shadow-sm">
                         <div class="row">
                           <div class="col-md-1 text-center my-auto">
                             <div class="custom-control custom-radio"">
                               <input type="radio" class="custom-control-input" id="customRadio{{ contact.id }}" name="instance" value="{{ contact.id }}" >
                               <label for="customRadio{{ contact.id }}" class="custom-control-label"></label>
                             </div>
                           </div>

                           <div class="col-md-4">
                             <button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapse{{ contact.id }}" aria-expanded="false" aria-controls="collapse{{ contact.id }}">
                               <i class="fas fa-id-card-alt mr-2"></i><strong> {{ contact.name }}</strong>
                             </button>
                               <a href="{% url 'editcontact' contact.id %}"><i class="fas fa-edit"></i></a>
                             <p>
                               {% trans "Type of owner" %}:

                               {% get_current_language as LANGUAGE_CODE %}
                               {% if LANGUAGE_CODE == 'en' %}{{ contact.type.title }}
                               {% elif LANGUAGE_CODE == 'ru' %}{{ contact.type.title_ru }}{% endif %}

                               <br>
                               {% trans "Address" %}: {{ contact.address }}
                               <br>
                               {% trans "Contacts" %}: {{ contact.phone }},
                               {{ contact.links }}
                             </p>
                             <i class="fas fa-clock"></i> {% trans "Date created" %}: {{ contact.created | date:"SHORT_DATE_FORMAT" }}
                              <br>{% trans "Related ads" %}: {{ contact.listing_set.all.count }}
                           </div>

                           <div class="col-md-6">

                             <p class="mt-2">
                               {{ contact.comments | safe | linebreaks }}
                             </p>
                            </div>
                            <div class="col-md-1 text-center my-auto">
                              {% if contact.group_id == 3  %}
                               <div class="group-icon">
                                <strong>III</strong>
                               </div>

                              {% elif contact.group_id == 2 %}
                              <div class="group-icon">
                               <strong>II</strong>
                              </div>

                              {% else %}
                              <div class="group-icon">
                               <strong>I</strong>
                              </div>
                              {% endif %}
                            </div>
                         </div>


                         <div id="collapse{{ contact.id }}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                           <div class="card-body p-3">
                             {% for listing in contact.listing_set.all %}
                              <div class="row mt-4">
                                <div class="col-lg-3 mb-sm-0 mb-3 text-left">
                                  <div class="card shadow" id="container-image">
                                    <div id="dummy">
                                      <div id="element">
                                     {% if listing.photo_main %}
                                     <img src="{{ listing.photo_main.url }}" class="img-fluid">
                                     {% else %}
                                     <img src="{% static 'img/avatar-animal.png' %}" class="img-fluid">
                                     {% endif %}
                                   </div>
                                </div>
                              </div>

                               </div>
                               <div class="col-lg-9 px-sm-3 px-0" id="description" name="description">
                                 <p><strong><i class="fas fa-paw"></i> {{ listing.title }}</strong>
                                   <br>
                                   {{ listing.created.date | date:"SHORT_DATE_FORMAT" }}
                                   - {{ listing.archived.date | date:"SHORT_DATE_FORMAT" }}
                                   <br>
                                   {% get_current_language as LANGUAGE_CODE %}
                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.category_id.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.category_id.title_ru }}{% endif %}

                                    / {% trans "Living conditions" %}:

                                    {% if LANGUAGE_CODE == 'en' %}{{ listing.conditions_id.title }}
                                    {% elif LANGUAGE_CODE == 'ru' %}{{ listing.conditions_id.title_ru }}{% endif %}

                                   <br> {% trans "Type" %}:

                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.types_id.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.types_id.title_ru }}{% endif %}


                                   /
                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.breeds.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.breeds.title_ru }}{% endif %}

                                   / {% trans "Age" %}:

                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.age_id.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.age_id.title_ru }}{% endif %}
                                 </p>
                                <p>{{ listing.description | truncatechars:310}}</p>
                               </div>

                             </div>
                            {% endfor %}
                           </div>
                         </div>



                        </div>
                        {% endfor %}
                        </form>
                      </div>
                    </div>
              {% else %}
                <div class="col-md-12">
                  <div class="text-white text-center">
                    <p>{% trans "No Contacts Available" %}</p>
                  </div>
                </div>
              {% endif %}

          </div>


        <div class="ml-4">
          {% if contacts.has_other_pages %}
          <!-- <p>No Listings Available</p>
        </div>  -->
              <ul class="pagination">
                {% if contacts.has_previous %}
                  <li class="page-item">
                    <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                  </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in contacts.paginator.page_range %}
                  {% if contacts.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                  <li class="page-item">
                    <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                  </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
      </div>
    </div>




    </div>
  </div>
</section>



{% endblock %}
