{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "My Profile" %} {% endblock %}
{% block content %}

<!-- Account Navbar -->
{% include 'partials/_accountnavbar.html' %}

 <!-- Actions -->
 <div class="account-wrap">

 <section id="actions" class="py-4 bg-custom-secondary-light shadow mb-5">
  <div class="container">
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-lg-2 col" data-aos="zoom-in" data-aos-delay="100">
          <a href="{% url 'password_change' %}"
          class="btn btn-primary custom-btn btn-block shadow"
          >
          <i class="fas fa-key"></i> Изменить пароль
          </a>
        </div>
        <div class="col-lg-2 col" data-aos="zoom-in" data-aos-delay="200">
          <a href="{% url 'user-delete' user.id %}" class="btn btn-primary custom-btn btn-block shadow">
          <i class="fas fa-trash"></i> {% trans "Delete Account" %}
          </a>
        </div>

      </div>
    </div>
  </div>
</section>


    <!-- POSTS -->
    <section id="contents">
      <div class="container pb-5">
        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data" id="userform">
         {% csrf_token %}
        <div class="row pt-4 pb-5">
          <div class="col-lg-8 col-12">
            <div class="card bg-custom-primary-light shadow">
              <div class="card-header text-white">
                <h4>{% trans "Edit Profile" %}</h4>
                <small>{% trans "Note that some of this information may be visible to the website visitors" %}</small>
              </div>
              <div class="card-body">
                <div class="card">
                  <div class="card-body">



                     <div class="row mt-lg-4">
                       <div class="col-lg-4 col-6 my-lg-0 my-3">
                         <label for="username">{% trans "Username" %}</label>
                         <input type="text" class="form-control shadow-sm" id="username" name="username" maxlength="15" value="{{ mainuser.username }}" required>
                       </div>

                       <div class="col-lg-4 col-6 my-lg-0 my-3">
                         <label for="email">{% trans "Email" %}</label>
                         <input type="text" class="form-control shadow-sm" id="email" name="email" value="{{ mainuser.email }}" disabled='disabled'>
                       </div>

                       <div class="col-lg-4 col-12 my-lg-0 my-3">
                         <label for="full_name">{% trans "Full Name" %}</label>
                         <input type="text" class="form-control shadow-sm" id="full_name" name="full_name" maxlength="255" value="{{ mainuser.full_name }}" required>
                       </div>
                      </div>


                     <div class="row my-lg-4">


                       <div class="col-12 mb-4">
                         <hr>
                         <div class="col-12 text-center text-profile">
                          Контакты для страницы с объявлением (не обязательно)
                         </div>
                         <p class="text-muted text-center m-0"><small>Автоматическое добавление на страницу при наличии хотя бы названия организации (приют, ветклиника, частная помощь, заводчик)</small></p>
                       </div>

                       <div class="col-sm-6 col-12 my-3">
                         <label for="ad_organization">Организация</label>
                         <input type="text" class="form-control shadow-sm" id="ad_organization" name="ad_organization" maxlength="200" value="{{ edituser.ad_organization }}">
                       </div>

                       <div class="col-sm-6 col-12 my-3">
                         <label for="ad_address">Адрес</label>
                         <input type="text" class="form-control shadow-sm" id="ad_address" name="ad_address" maxlength="200" value="{{ edituser.ad_address }}">
                       </div>

                        <div class="col-sm-6 col-12 my-3">
                          <label for="ad_website">Веб-сайт</label>
                          <input type="text" class="form-control shadow-sm" id="ad_website" name="ad_website" placeholder="https://example.com" maxlength="200" value="{{ edituser.ad_website }}">
                        </div>

                        <div class="col-sm-6 col-12 my-3">
                          <label for="ad_email">Эл. почта</label>
                          <input type="text" class="form-control shadow-sm" id="ad_email" name="ad_email" maxlength="150" value="{{ edituser.ad_email }}">
                        </div>

                        <div class="col-sm-4 col-12 my-3">
                          <label for="ad_youtube">Канал YouTube</label>
                          <input type="text" class="form-control shadow-sm" id="ad_youtube" name="ad_youtube" placeholder="https://example.com" maxlength="200" value="{{ edituser.ad_youtube }}">
                        </div>

                        <div class="col-sm-4 col-12 my-3">
                          <label for="ad_facebook">Facebook</label>
                          <input type="text" class="form-control shadow-sm" id="ad_facebook" name="ad_facebook" placeholder="https://example.com" maxlength="200" value="{{ edituser.ad_facebook }}">
                        </div>

                        <div class="col-sm-4 col-12 my-3">
                          <label for="ad_vk">Vkontakte</label>
                          <input type="text" class="form-control shadow-sm" id="ad_vk" name="ad_vk" placeholder="https://example.com" maxlength="200" value="{{ edituser.ad_vk }}">
                        </div>
                    </div>


                   <div class="row my-lg-4">


                     <div class="col-12 mb-4">
                       <hr>
                       <div class="col-12 text-center text-profile">
                        Контакты для блога (не обязательно)
                       </div>
                       <p class="text-muted text-center m-0"><small>Доступны при наведении курсора на имя пользователя в блоге</small></p>
                     </div>
                     <div class="col-lg-4 col-6 my-3">
                       <label for="usertype">{% trans "Users Group" %}</label>
                       {% get_current_language as LANGUAGE_CODE %}
                       <select name="usertype" class="form-control shadow-sm" required>
                         {% for type in usertypes %}
                             <option value="{{ type.id }}"
                               {% if type.id == edituser.usertype.id %} selected {% else %}{% endif %}>
                               {% if LANGUAGE_CODE == 'en' %}{{ type.title }}
                               {% elif LANGUAGE_CODE == 'ru' %}{{ type.title_ru }}{% endif %}
                             </option>
                             {% endfor %}
                       </select>
                     </div>

                     <div class="col-lg-4 col-6 my-3">
                       <label for="publicmail">{% trans "Email" %}</label>
                       <input type="text" class="form-control shadow-sm" id="publicmail" name="publicmail" maxlength="25" value="{{ edituser.publicmail }}">
                     </div>

                     <div class="col-lg-4 col-6 my-3">
                       <label for="business">{% trans "Organization" %}</label>
                       <input type="text" class="form-control shadow-sm" id="business" name="business" maxlength="25" value="{{ edituser.business }}">
                     </div>

                      <div class="col-lg-4 col-6 my-3">
                        <label for="phone">{% trans "Phone" %}</label>
                        <input type="text" class="form-control shadow-sm" id="phone" name="phone" maxlength="20" value="{{ edituser.phone }}">
                      </div>

                      <div class="col-lg-8 col-12 my-3">
                        <label for="links">{% trans "Links" %}</label>
                        <input type="text" class="form-control shadow-sm" id="links" name="links" maxlength="70" value="{{ edituser.links }}">
                      </div>
                  </div>

                    <div class="row mb-5">
                      <div class="col-12 mb-3">
                        <label for="description">{% trans "Details" %}</label>
                        <input type="text" class="form-control shadow-sm" id="description" name="description" maxlength="300" value="{{ edituser.description }}">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4 mb-3 mx-auto">
                        <button type="submit" name='userprofile' class="btn btn-primary custom-btn btn-block shadow">
                        {% trans "Update" %}</button>
                      </div>
                    </div>

                  </form>


          </div>
        </div>
      </div>

    </div>
  </div>

          <!-- RIGHT CARDS -->

          <div class="col-lg-4 col-12 mb-4 mt-sm-0 mt-4">

            <!-- RIGHT CARDS -->


              <div class="card text-center bg-custom-primary-light text-white mb-4 shadow">
                <div class="card-body p-4">

               <!-- Subscription -->
                  <div class="col-12">
                    <form class=""  method="post">
                      {% csrf_token %}
                       {% if subscription.subscribed %}
                       <button type="submit" class="btn btn-outline-light btn-block" name="marketing">Отписаться от уведомлений</button>
                       {% else %}
                       <button type="submit" class="btn btn-outline-light btn-block" name="marketing">Включить отправку уведомлений</button>
                       {% endif %}
                     </form>
                  </div>

                </div>
              </div>


            <div class="card bg-custom-primary-light text-white mb-4 shadow">
               <div class="card-header text-center">
                 <h4>Профиль в объявлении</h4>
                 <p class="mb-0">~</p>
               </div>
             <div class="card-body pb-5">
               {% if edituser.ad_organization %}
               <ul class="list-group list-group-flush text-white">
                 <div class="text-center">
                   <h4 class="mt-3 mb-0"><i class="fas fa-home"></i><strong> {{ edituser.ad_organization }}</strong></h4>
                   {% if edituser.ad_address %}
                   <p class="text-muted">{{ edituser.ad_address }}</p>
                   {% endif %}
                 </div>
                   <li class="list-group-item py-2 bg-custom-transparent">
                       Активные объявления:
                     <span class="float-right pl-4"> {{ activeads }}</span>
                   </li>

                   {% if edituser.ad_website %}
                   <li class="list-group-item w-100 py-2 bg-custom-transparent">
                     Сайт:
                     <span class="float-right pl-4"> <a class="text-white" href="{{ edituser.ad_website }}" target="_blank">{{ edituser.ad_website }}</a></span>
                   </li>
                   {% endif %}

                   {% if edituser.ad_email %}
                   <li class="list-group-item py-2 bg-custom-transparent">
                       Эл. почта:
                       <span class="float-right pl-4"> {{ edituser.ad_email }}</span>
                   </li>
                   {% endif %}

                   {% if edituser.ad_youtube or edituser.ad_facebook or edituser.ad_vk %}
                   <li class="list-group-item py-2 bg-custom-transparent">
                       Соц. сети:
                     <span class="float-right pl-4 social-profile">
                       {% if edituser.ad_youtube %}
                       <a href="{{ edituser.ad_youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
                       {% endif %}

                       {% if edituser.ad_facebook %}
                       <a href="{{ edituser.ad_facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                       {% endif %}

                       {% if edituser.ad_vk %}
                       <a href="{{ edituser.ad_vk }}" target="_blank"><i class="fab fa-vk"></i></a>
                       {% endif %}
                     </span>
                   </li>
                   {% endif %}
                  </ul>
                  {% else %}
                  <div class="col-12 mx-auto text-center">
                    <i class="fas fa-edit"></i>
                  </div>
                  {% endif %}
               </div>
              </div>


              <div class="card text-center bg-custom-primary-light text-white mb-4 shadow">
                 <div class="card-header">
                   <h4>{% trans "Image & Blog View" %}</h4>
                   <p class="mb-0">~</p>
                 </div>
               <div class="card-body mx-auto pb-5">
                 <h3 class="mb-4">~ {{ edituser.user.username }} ~ </h3>
                 {% if edituser.photo %}
                <div class="p-4">
                  <div class="card shadow" id="container-image">
                    <div id="dummy">
                      <div id="element">
                      <img src="{{ edituser.photo.url }}" id="image-field-0" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>

               <div class="text-white text-center mr-4">
                 <i class="fas fa-cut mr-1"></i>
                 <input id="image-clear_id" name="image-clear" type="checkbox" />
               </div>
                 {% else %}
                <div class="p-4">
                 <div class="card shadow" id="container-image">
                   <div id="dummy">
                     <div id="element">
                      <img src="{% static 'img/avatar-profile.png' %}" id="image-field-0" class="img-fluid">
                     </div>
                    </div>
                   </div>
                  </div>
                 {% endif %}
                 <label>
                     <input form="userform" id="selectedFile" type="file" name="photo" onchange="previewImage(event)">
                 </label>
                       <br>
                       <br>
                       {% if edituser.usertype %}
                       {% get_current_language as LANGUAGE_CODE %}
                       {% if LANGUAGE_CODE == 'en' %}{{ edituser.usertype.title }}
                       {% elif LANGUAGE_CODE == 'ru' %}{{ edituser.usertype.title_ru }}{% endif %}
                       {% endif %}

                       {% if edituser.business %}
                        <br>{{ edituser.business }}
                       {% endif %}

                       {% if edituser.publicmail %}
                        <br> {{ edituser.publicmail }};
                       {% endif %}

                       {% if edituser.phone %}
                         {{ edituser.phone }}
                       {% endif %}

                       {% if edituser.links %}
                        <br> {{ edituser.links }}
                       {% endif %}

                       {% if edituser.description %}
                          <br> {{ edituser.description }}
                       {% endif %}

                 </div>

                 <div class="text-center">
                   <hr>
                     <h6>Дата регистрации:</h6>
                     <p>{{ mainuser.joined.date }}</p>
                 </div>


                </div>

            </div>

    </section>

  </div>



{% endblock %}
