{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %} | {% trans "My Contacts" %} {% endblock %}
{% block content %}

<!-- Account Navbar -->
{% include 'partials/_accountnavbar.html' %}

<!-- Actions -->

<div class="account-wrap">

<section id="actions" class="py-4 bg-custom-secondary-light shadow mb-5">
  <!-- <form action="{% url 'posts' %}" method="post"> -->
   <div class="container">
      <div class="container-fluid px-0">
        <div class="row">

          <div class="col">
            <a href="#" class="btn btn-primary custom-btn btn-block shadow dropdown-toggle" data-toggle="dropdown">
              <i class="fas fa-edit"></i> <span class="hidden-phone">Действия</span></a>
            <div class="dropdown-menu shadow">

              <a href="{% url 'newcontact' %}" class="dropdown-item btn btn-light" name="addnew">
                <i class="fas fa-plus-circle"></i> <span>Новый контакт</span></a>

              <button type="submit" form="activecontacts" class="dropdown-item btn btn-light" name="editcontact">
                <i class="fas fa-pen-square"></i> <span>{% trans "Edit" %}</span></button>

              <button type="submit" form="activecontacts" class="dropdown-item btn btn-light" name="delete">
                <i class="fas fa-trash"></i> <span>{% trans "Delete" %}</span></button>

            </div>
          </div>

            <div class="col">
              <a href="#" class="btn btn-primary custom-btn btn-block shadow dropdown-toggle" data-toggle="dropdown">
                <i class="fas fa-sort fa-lg"></i> <span class="hidden-phone">{% trans "Sort" %}</span></a>
              <div class="dropdown-menu">
                <button type="submit" form="activecontacts" class="dropdown-item btn btn-light" name="bygroup">
                  <i class="fas fa-grin"></i> {% trans "By Group" %}</button>
                <button type="submit" form="activecontacts" class="dropdown-item btn btn-light" name="bytype">
                  <i class="fas fa-layer-group"></i> {% trans "By Type" %}</button>
              </div>
            </div>

            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'en' %}
            <div class="col">
              <button type="submit" form="activecontacts" class="btn btn-primary custom-btn btn-block shadow" name="export">
                <i class="fas fa-file-excel"></i> <span class="hidden-phone">{% trans "Save List" %}</span></button>
            </div>
            {% elif LANGUAGE_CODE == 'ru' %}
            <div class="col">
              <button type="submit" form="activecontacts" class="btn btn-primary custom-btn btn-block shadow" name="export_ru">
                <i class="fas fa-file-excel"></i> <span class="hidden-phone">{% trans "Save List" %}</span></button>
            </div>
            {% endif %}






        </div>
      </div>

  </div>
 <!-- </form> -->
</section>



<!-- Posts -->
<section id="contents">
  <div class="container">

    <div class="row pt-4 pb-5">
      <div class="col-12 mb-5">
        <div class="card bg-custom-primary-light shadow">
          <div class="card-body">
            <form action="{% url 'contacts' %}" method="POST" id="activecontacts">
            {% csrf_token %}
              {% if contacts %}
                    <div class="accordion" id="accordionExample">
                      <div class="card border">

                        {% for contact in contacts %}
                        <div class="card-header p-3">

                          <div class="col-md-10 col-12 text-md-left text-center mx-auto p-0">
                            <button class="btn btn-link text-left pl-0" type="button" data-toggle="collapse" data-target="#collapse{{ contact.id }}" aria-expanded="false" aria-controls="collapse{{ contact.id }}">
                              <h4><i class="fas fa-id-card-alt mr-2"></i><strong> {{ contact.name }}</strong></h4>
                            </button>
                          </div>

                          <div class="row">
                           <div class="col-md-1 text-center my-3">
                             <div class="custom-control custom-radio"">
                               <input type="radio" class="custom-control-input" id="customRadio{{ contact.id }}" name="instance" value="{{ contact.id }}" >
                               <label for="customRadio{{ contact.id }}" class="custom-control-label"></label>
                             </div>
                           </div>

                           <div class="col-md-4 text-md-left text-center">
                             <i class="fas fa-clock"></i> {{ contact.created | date:"SHORT_DATE_FORMAT" }}
                              <br>{% trans "Animals owned" %}: {{ contact.listing_owner.all.count }}
                              <br>{% trans "Fostered" %}: {{ contact.listing_foster.all.count }}
                              {% if contact.id in listings %}
                              <br>В заявках
                              {% endif %}
                           </div>

                           <div class="col-md-6 text-md-left text-center">
                             <p>
                               Тип контакта:
                               {% get_current_language as LANGUAGE_CODE %}
                               {% if LANGUAGE_CODE == 'en' %}{{ contact.type.title }}
                               {% elif LANGUAGE_CODE == 'ru' %}{{ contact.type.title_ru }}{% endif %}

                               <br>
                               {% if contact.address %}
                               {{ contact.address }}
                               <br>
                               {% endif %}
                               {% if contact.phone and contact.links%}
                               {{ contact.phone }},
                               {{ contact.links }}
                               {% else %}
                               {{ contact.phone }}
                               {{ contact.links }}
                               {% endif %}
                               <br>
                               {{ contact.comments | safe | linebreaks }}
                             </p>
                            </div>
                            <div class="col-md-1 text-center my-3">
                              {% if contact.group_id == 3  %}
                               <div class="group-icon" style="color:red;">
                                <i class="fas fa-flushed"></i>
                               </div>

                              {% elif contact.group_id == 2 %}
                              <div class="group-icon" style="color:blue;">
                               <i class="fas fa-meh"></i>
                              </div>

                              {% else %}
                              <div class="group-icon" style="color:green;">
                               <i class="fas fa-grin"></i>
                              </div>
                              {% endif %}
                            </div>
                          </div>

                         </div>

                         <div id="collapse{{ contact.id }}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                           <div class="card-body bg-light p-3 mb-3">

                             {% if contact.listing_owner.all %}
                             {% for listing in contact.listing_owner.all %}
                              <div class="row mt-4">
                                <div class="col-lg-5 text-center px-lg-5 py-2 mb-lg-0 mb-4">
                                  <div class="px-lg-5">
                                    <div class="card shadow" id="container-image">
                                      <div id="dummy">
                                        <div id="element">
                                       {% if listing.photo_main %}
                                       <img src="{{ listing.photo_main.url }}" class="img-fluid">
                                       {% else %}
                                       <img src="{% static 'img/avatar-animal.svg' %}" class="img-fluid">
                                       {% endif %}
                                     </div>
                                  </div>
                                  </div>

                              </div>

                               </div>
                               <div class="col-lg-6 px-sm-3 p-0 text-lg-left text-center" id="description" name="description">
                                 <p><strong><i class="fas fa-paw"></i> {{ listing.title }}</strong>
                                   <br>
                                   Дата закрытия: {{ listing.created.date | date:"SHORT_DATE_FORMAT" }}
                                   - {{ listing.archived.date | date:"SHORT_DATE_FORMAT" }}
                                   <br>
                                   {% get_current_language as LANGUAGE_CODE %}
                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.category_id.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.category_id.title_ru }}{% endif %}

                                    / {% trans "Living conditions" %}:

                                    {% if LANGUAGE_CODE == 'en' %}{{ listing.conditions_id.title }}
                                    {% elif LANGUAGE_CODE == 'ru' %}{{ listing.conditions_id.title_ru }}{% endif %}

                                   <br> {% trans "Type" %}:

                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.types_id.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.types_id.title_ru }}{% endif %}


                                   /
                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.breeds.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.breeds.title_ru }}{% endif %}

                                   / {% trans "Age" %}:

                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.age_id.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.age_id.title_ru }}{% endif %}
                                 </p>
                                <p>{{ listing.description | truncatechars:310}}</p>
                               </div>

                             </div>
                            {% endfor %}
                            {% else %}
                            {% endif %}

                            {% if contact.listing_foster.all %}
                            {% for listing in contact.listing_foster.all %}
                             <div class="row mt-4">
                               <div class="col-lg-5 text-center px-lg-5 py-2 mb-lg-0 mb-4">
                                 <div class="px-lg-5">
                                   <div class="card shadow" id="container-image">
                                     <div id="dummy">
                                       <div id="element">
                                      {% if listing.photo_main %}
                                      <img src="{{ listing.photo_main.url }}" class="img-fluid">
                                      {% else %}
                                      <img src="{% static 'img/avatar-animal.svg' %}" class="img-fluid">
                                      {% endif %}
                                    </div>
                                  </div>
                               </div>
                             </div>
                          </div>

                              <div class="col-lg-6 px-sm-3 p-0 text-lg-left text-center">
                                <p><strong><i class="fas fa-paw"></i> {{ listing.title }}</strong>
                                  <br>
                                  Запись создана: {{ listing.created.date | date:"SHORT_DATE_FORMAT" }}
                                  - <strong>{% trans "Fostered" %}</strong>
                                  <br>
                                  {% get_current_language as LANGUAGE_CODE %}
                                  {% if LANGUAGE_CODE == 'en' %}{{ listing.category_id.title }}
                                  {% elif LANGUAGE_CODE == 'ru' %}{{ listing.category_id.title_ru }}{% endif %}

                                   / {% trans "Living conditions" %}:

                                   {% if LANGUAGE_CODE == 'en' %}{{ listing.conditions_id.title }}
                                   {% elif LANGUAGE_CODE == 'ru' %}{{ listing.conditions_id.title_ru }}{% endif %}

                                  <br> {% trans "Type" %}:

                                  {% if LANGUAGE_CODE == 'en' %}{{ listing.types_id.title }}
                                  {% elif LANGUAGE_CODE == 'ru' %}{{ listing.types_id.title_ru }}{% endif %}


                                  /
                                  {% if LANGUAGE_CODE == 'en' %}{{ listing.breeds.title }}
                                  {% elif LANGUAGE_CODE == 'ru' %}{{ listing.breeds.title_ru }}{% endif %}

                                  / {% trans "Age" %}:

                                  {% if LANGUAGE_CODE == 'en' %}{{ listing.age_id.title }}
                                  {% elif LANGUAGE_CODE == 'ru' %}{{ listing.age_id.title_ru }}{% endif %}
                                </p>
                               <p>{{ listing.description | truncatechars:310}}</p>
                              </div>

                            </div>
                           {% endfor %}
                           {% else %}
                           {% endif %}

                           </div>
                         </div>

                        {% endfor %}
                        </form>
                      </div>
                    </div>

              {% else %}
                <div class="col-md-12">
                  <div class="text-white text-center">
                    <i class="fas fa-edit"></i>
                  </div>
                </div>
              {% endif %}

          </div>


        <div class="ml-4">
          {% if contacts.has_other_pages %}
              <ul class="pagination">
                {% if contacts.has_previous %}
                  <li class="page-item">
                    <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                  </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in contacts.paginator.page_range %}
                  {% if contacts.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                {% if contacts.has_next %}
                  <li class="page-item">
                    <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                  </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
      </div>
    </div>




    </div>
  </div>
</section>

</div>



{% endblock %}
