{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% block title %} | {% trans "My Product Ads" %} {% endblock %}
{% block content %}

<!-- Account Navbar -->
{% include 'partials/_accountnavbar.html' %}



 <div class="account-wrap">

    <!-- Actions -->
    <section id="actions" class="py-4 bg-custom-secondary-light shadow mb-5">
      <!-- <form action="{% url 'posts' %}" method="post"> -->
       <div class="container">
          <div class="container-fluid px-0">
            <div class="row">

              <div class="col action-buttons">
                <a href="#" class="btn btn-primary custom-btn btn-block shadow dropdown-toggle" data-toggle="dropdown">
                  <i class="fas fa-edit"></i> <span class="hidden-phone">Действия</span></a>
                <div class="dropdown-menu shadow">

                  <a href="{% url 'new-support' %}" class="dropdown-item btn btn-light" name="addnew">
                    <i class="fas fa-plus-circle"></i> <span>Новое объявление</span></a>

                  <button type="submit" form="support_ads" class="dropdown-item btn btn-light" name="editrecord">
                    <i class="fas fa-pen-square"></i> <span>{% trans "Edit" %}</span></button>

                  <button type="submit" form="support_ads" class="dropdown-item btn btn-light" name="delete">
                    <i class="fas fa-trash"></i> <span>{% trans "Delete" %}</span></button>

                </div>
              </div>


                <div class="col action-buttons">
                  <a href="#" class="btn btn-primary custom-btn btn-block shadow dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-thumbtack"></i> <span class="hidden-phone">Статусы объявлений</span></a>
                  <div class="dropdown-menu shadow">

                      <button type="submit" form="support_ads" class="dropdown-item btn btn-light" name="publish">
                        <i class="fas fa-share-alt"></i> <span>{% trans "Publish" %}</span></button>

                      <button type="submit" form="support_ads" class="dropdown-item btn btn-light" name="sendtoarchive">
                        <i class="fas fa-lock"></i> <span>Закрыть объявление</span></button>

                      <button type="submit" form="support_ads" class="dropdown-item btn btn-light" name="restore">
                        <i class="fas fa-stopwatch"></i> <span>Добавить в отложенные</span></button>
                  </div>
                </div>

                <div class="col action-buttons">
                  <a href="#" class="btn btn-primary custom-btn btn-block shadow dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-sort fa-lg"></i> <span class="hidden-phone">{% trans "Sort" %}</span></a>
                  <div class="dropdown-menu shadow">
                      <button type="submit" form="support_ads" class="dropdown-item btn btn-light" name="bystatus">
                      <i class="fas fa-unlock"></i> По статусу</button>
                    <button type="submit" form="support_ads" class="dropdown-item btn btn-light" name="bydate">
                      <i class="fas fa-clock"></i> По дате</button>
                  </div>
                </div>


                {% get_current_language as LANGUAGE_CODE %}
                {% if LANGUAGE_CODE == 'en' %}
                <div class="col action-buttons">
                  <button type="submit" form="support_ads" class="btn btn-primary custom-btn btn-block shadow" name="export">
                    <i class="fas fa-file-excel"></i> <span class="hidden-phone">{% trans "Save List" %}</span></button>
                </div>
                {% elif LANGUAGE_CODE == 'ru' %}
                <div class="col action-buttons">
                  <button type="submit" form="support_ads" class="btn btn-primary custom-btn btn-block shadow" name="export_ru">
                    <i class="fas fa-file-excel"></i> <span class="hidden-phone">{% trans "Save List" %}</span></button>
                </div>
                {% endif %}
            </div>
          </div>
      </div>
    </section>


    <section id="contents">
      <div class="container">

        <div class="row pt-4 pb-5">
          <div class="col-12 mb-4 mb-5">
            <div class="card bg-custom-primary-light shadow">
              <div class="card-body">
                <form action="{% url 'support-ads' %}" method="POST" id="support_ads">
                	{% csrf_token %}
                  {% if proposals %}
                        <div class="accordion" id="accordionExample">
                          <div class="card border">
                            {% for listing in proposals %}
                            <div class="card-header py-4">

                              <div class="col-md-10 col-12 text-md-left text-center mx-auto p-0">
                                <button class="btn btn-link text-left pl-0 pb-0" value="{{ listing.id }}" type="button" data-toggle="collapse" data-target="#collapse{{ listing.id }}" aria-expanded="false" aria-controls="collapse{{ listing.id }}">
                                 <h4>
                                  <strong>
                                    {{ listing.title }}
                                  </strong>
                                 </h4>
                                </button>
                              </div>


                             <div class="row">
                               <div class="col-md-1 text-center my-3">
                                 <div class="custom-control custom-radio">
                                   <input type="radio" class="custom-control-input" id="customRadio{{ listing.id }}" name="instance" value="{{ listing.id }}" >
                                   <label for="customRadio{{ listing.id }}" class="custom-control-label"></label>
                                 </div>
                               </div>

                               <div class="col-md-5" style="overflow:hidden">
                                 <p>
                                  {{ listing.user.full_name }}
                                  <br>
                                  <i class="fas fa-clock"></i> {{ listing.created.date | date:"SHORT_DATE_FORMAT" }}
                                  {% if listing.adstatus_id_id == 3 %}
                                  - в архиве: {{ listing.updated.date | date:"SHORT_DATE_FORMAT" }}
                                  {% else %}
                                  {% endif %}
                                 </p>
                               </div>

                               <div class="col-md-5">
                                 <p>
                                   <i class="fas fa-money-bill-wave-alt"></i> Сумма:
                                   {% if listing.amount == 0 %}
                                   {% trans "For free" %}
                                   {% else %}
                                   {{ listing.amount | intcomma }}
                                   {% endif %}
                                   <br>
                                   Макс. количество заявок: {{ listing.applicants_number }}
                                   <br>{{ listing.city }} / контакты: {{ listing.user_contact }}
                                 </p>
                               </div>

                               <div class="col-md-1 text-center my-3">
                                  {% if listing.adstatus_id_id == 3  %}
                                   <i class="fas fa-lock" style="color:blue;"></i>

                                  {% elif listing.adstatus_id_id == 2 %}
                                   <i class="fas fa-share-alt" style="color:red;"></i>

                                  {% else %}
                                   <i class="fas fa-stopwatch" style="color:green;"></i>
                                  {% endif %}
                               </div>

                             </div>
                            </div>

                             <div id="collapse{{ listing.id }}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                               <div class="card-body bg-light p-3">
                                 <div class="row mt-4">

                                    <div class="col-12 px-sm-3 p-0">
                                     {{ listing.description | safe | linebreaks }}
                                    </div>

                                      <div class="col-12">
                                        <h4 class="text-center my-3"><strong>Заявки ({{ listing.requests.all.count }})</strong></h4>
                                      </div>
                                      <div class="col-12 px-sm-3 p-0">
                                        {% for item in listing.requests.all %}
                                        <div class="card my-4 p-4 shadow">
                                          <div class="row">
                                            <div class="col-md-6 col-12 text-md-left text-center">
                                              <p>
                                               <strong>{{ item.user.full_name }}</strong><br>
                                               {{ item.user.email }}
                                              </p>
                                            </div>
                                            <div class="col-md-6 col-12 text-md-right text-center mt-md-0 mt-2">

                                              <div class="text-md-right text-center">
                                                {% if listing in item.approvals.all %}
                                                 <strong>Текущий статус:</strong><br> <span style="color:red;">Одобрено</span>
                                                {% else %}
                                                 <strong>Текущий статус:</strong><br> <span style="color:blue;">На рассмотрении</span>
                                                {% endif %}
                                              </div>

                                              <div class="my-2">
                                                  <a href="{% url 'status-change' listing.id item.id  %}" class="btn btn-primary custom-btn" name="pending">Изменить</a>
                                              </div>

                                            </div>
                                          </div>
                                            <p class="mt-md-0 mt-4">
                                             {{ item.description | linebreaks }}
                                            </p>
                                        </div>
                                        {% endfor %}
                                     </div>
                                 </div>
                               </div>
                             </div>

                            {% endfor %}
                          </div>
                        </div>
                  {% else %}
                    <div class="col-md-12">
                      <div class="text-white text-center">
                        <i class="fas fa-edit"></i>
                      </div>
                    </div>
                  {% endif %}
                </form>
              </div>


              <div class="ml-4">
                {% if proposals.has_other_pages %}
                <!-- <p>No Listings Available</p>
              </div>  -->
                    <ul class="pagination">
                      {% if proposals.has_previous %}
                        <li class="page-item">
                          <a href="?page={{proposals.previous_page_number}}" class="page-link">&laquo;</a>
                        </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                      </li>
                      {% endif %}
                      {% for i in proposals.paginator.page_range %}
                        {% if proposals.number == i %}
                        <li class="page-item active">
                          <a class="page-link">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a href="?page={{i}}" class="page-link">{{i}}</a>
                        </li>
                        {% endif %}
                      {% endfor %}
                      {% if proposals.has_next %}
                        <li class="page-item">
                          <a href="?page={{proposals.next_page_number}}" class="page-link">&raquo;</a>
                        </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link">&raquo;</a>
                      </li>
                      {% endif %}
                    </ul>
                  {% endif %}
              </div>

            </div>
          </div>
        </div>



      </div>
    </section>

</div>


{% endblock %}
